/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata overline component.
 */

/* Overline. */
.overline {
    margin: 0;
}

/* Overline - immediate children. */
.overline > * {
    align-items: baseline;
    display: inline-flex;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: 1.4px;
    line-height: 24px;
    text-transform: uppercase;
    white-space: nowrap;
}

/* Overline - show only first. */
.overline > *:not(:first-of-type) {
    display: none;
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {

    /* Overline - show all - immediate children. */
    .overline > *:not(:first-of-type) {
        display: inline-flex;
    }

    /* Separator - ">>" */
    .overline > *:not(:last-of-type):after {
        align-self: center;
        content: ">>";
        margin: 0 4px;
    }
}
