/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal tab nav component.
 */

@import '../../styles/vars.module.css';

/* Tabs */
.hcaTabs {
    background-color: var(--white);  /* Required for content scroll */
    border-bottom: 1px solid var(--gray-light); /* Tab line */
    margin-top: -24px; /* To position closer to section */
}

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    padding: 0 16px;
    position: relative; /* Positions fade on horizontal scroll */
}

/* Fade on horizontal scroll */
.wrapper::after, .wrapper::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 16px;
    z-index: 10;
}

/* Fade on horizontal scroll RHS */
.wrapper::after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--white), var(--white));
    right: 0;
}

/* Fade on horizontal scroll LHS */
.wrapper::before {
    background: linear-gradient(90deg, var(--white), var(--white), rgba(255, 255, 255, 0));
    left: 0;
}

/* Tab list */
.hcaTabList {
    align-items: flex-end;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 24px -16px 0;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide scrollbar in IE unless actively scrolling. */
    overflow-x: auto; /* Horizontal scroll - hide webkit scrollbar unless actively scrolling. */
    overflow-y: hidden;
    width: calc(100% + 32px);
}

.hcaTabList::-webkit-scrollbar {
    display: none;
}

/* Tab */
.hcaTab, .hcaBackTab {
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    margin: 0 16px;
    position: relative; /* Horizontal scroll - last tab - RHS gutter */
}

/* Tab - link */
.hcaTab a, .hcaBackTab a {
    color: var(--gray-dark);
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 15px; /* TODO typography - confirm size */
    font-weight: 400; /* TODO typography */
    line-height: 30px;
    text-decoration: none;
    white-space: nowrap; /* Horizontal scroll */
}

.hcaBackTab a {
    align-items: center;
    display: flex;
}

.hcaBackTab i {
    font-size: 16px;
    margin: 0 0 0 -4px;
}

/* Active tab */
.hcaTab.active {
    border-bottom: 3px solid var(--secondary);
}

.hcaTab.active a {
    color: var(--black);
}

/* Disabled tab */
.hcaTab.disabled {
    cursor: auto;
}

.hcaTab.disabled a {
    color: var(--gray-lightest);
}

/* Hover tab */
.hcaTab:hover > a {
    color: var(--black);
}

/* Last tab - on horizontal scroll - mimics gutter for RHS */
.hcaTab:last-of-type:after {
    bottom: -3px;
    height: 3px;
    content: "";
    position: absolute;
    width: 16px; /* 16px tab padding */
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }
}


