/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal tab nav component.
 */

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    padding: 0 16px;
}

/* Tabs */
.hcaTabs {
    border-bottom: 1px solid #CCCCCC; /* Tab line */ /* TODO colour hca-gray-light */
    margin-top: -24px; /* To position closer to heading */
}

/* Tab list */
.hcaTabList {
    align-items: flex-end;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 24px -16px 0;
    overflow-x: auto; /* Horizontal scroll */
}

.hcaTabList::-webkit-scrollbar {
    display: none;
}

/* Tab */
.hcaTab {
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    margin: 0 16px;
    position: relative; /* Horizontal scroll - last tab - RHS gutter */
}

/* Tab - link */
.hcaTab a {
    color: #999999; /* TODO typography hca-gray-medium */
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 15px; /* TODO typography - confirm size */
    font-weight: 500; /* TODO typography */
    line-height: 30px;
    text-decoration: none;
    white-space: nowrap; /* Horizontal scroll */
}

/* Active tab */
.hcaTab.active {
    border-bottom: 3px solid #32C1EE; /* TODO colour hca-blue-light */
}

.hcaTab.active a {
    color: #000000; /* TODO colour hca-black */
}

/* Disabled tab */
.hcaTab.disabled {
    cursor: auto;
}

.hcaTab.disabled a {
    color: #EAEAEA; /* TODO colour hca-gray-lightest */
}

/* Last tab - on horizontal scroll - mimics gutter for RHS */
.hcaTab:last-of-type:after {
    bottom: -3px;
    height: 3px;
    content: "";
    position: absolute;
    width: 16px; /* 16px tab padding */
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }
}


