/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the LungMAP Portal header component.
 */

/* Lungmap header. */
.lungmapHeader {
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 20;
}

/* Logo */
.logo {
  composes: logo from "../header/header.module.css";
}

/* Menu */
.hamburger {
  composes: hamburger from "../header/header.module.css";
  color: var(--white);
}
