/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata search input clear button wrapper component.
 */

/* Search clear. */
.searchClear {
  display: inline-flex;
  padding: 9px; /* Total icon size 38px. */
  position: absolute;
  right: 0;
  top: 0;
}
