/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to HCA Data Portal toolbar nav component.
 */

.toolbarNav {
  background-color: var(--white);
  height: calc(100vh - 60px);
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 12px 0;
  position: fixed;
  top: 60px;
  width: 100vw;
  z-index: 100;
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {
  .toolbarNav {
    background-color: transparent;
    display: flex;
    gap: 0 20px;
    height: 44px;
    justify-content: center;
    left: unset;
    padding: 0;
    position: relative;
    top: unset;
    width: 100%;
    z-index: unset;
  }
}

/**
 * Large +
 */
@media (min-width: 1200px) {
  .toolbarNav {
    gap: 0 24px;
  }
}
