/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to HCA Data Portal toolbar tools component.
 */

.toolbarTools {
  display: flex;
}

/**
 * Small Window
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {
  .toolbarTools {
    gap: 0 24px;
  }
}

/**
 * Large Tablet +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 840px) {
  .toolbarTools {
    gap: 0 32px;
  }
}
