/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata schema property display panel component.
 */
@import "../../../styles/vars.module.css";

/* Panel. */
.panel {
    align-items: flex-start;
    background-color: var(--black3);
    border-top: 1px solid var(--gray-lightest);
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 12px 12px;
    width: 100%;
}

/* Panel - label. */
.panel [id^="label"] {
    margin: 0 0 4px 0;
}

/* All <p>. */
.panel > p {
    margin: 0;
}
