stages:
  - test
  - build
  - deploy

cache:
  paths:
    - node_modules/

# Build Jobs
# Build Job Template
.build_template: &build_template
  image: node:14.16.0-buster
  stage: build
  before_script:
    - git clone https://github.com/HumanCellAtlas/humancellatlas.github.io
    - git clone https://github.com/HumanCellAtlas/metadata-schema.git _metadata-schema
    - npm install npm@6.14.11 -g
    - npm -v
    - npm install gatsby-cli@2.8.3 --global
    - npm install
    - npm rebuild sharp

  artifacts:
    paths:
      - public
      - maintenance

# Test with Trufflehog
test_trufflehog:
  stage: test
  image: python:3.5
  before_script:
    - pip install trufflehog
  script:
    - trufflehog --regex --rules trufflehog-rules.json --branch main --entropy=False --max_depth 30 https://github.com/HumanCellAtlas/data-portal.git
  except:
    - prod

# Develop Build
build_cgl-dev:
  <<: *build_template
  environment:
    name: cgl-dev
  script:
    - cd_metadata-schema && git checkout develop
    - export GATSBY_EXPLORE_URL=https://dev.singlecell.gi.ucsc.edu/explore/
    - export GATSBY_FILE_SUMMARY_API_URL=https://service.dev.singlecell.gi.ucsc.edu/index/summary
    - export GATSBY_PORTAL_URL=https://dev.singlecell.gi.ucsc.edu/
    - export GATSBY_TERM_FACETS_API_URL=https://service.dev.singlecell.gi.ucsc.edu/index/projects
    - export GATSBY_SYSTEM_HEALTH_CHECK_API_URL=https://service.dev.singlecell.gi.ucsc.edu/health/progress
    - export GATSBY_GTM_ID=GTM-M2J5NTJ
    - export GATSBY_GTM_AUTH=CzDpc0__fhyqfREDehPK8Q
    - export GATSBY_ENV_NAME=env-83
    - export GATSBY_ENV=STAGING
    - export GATSBY_DEFAULT_CATALOG=dcp2
    - export GATSBY_ATLAS=hca
    - gatsby build
  only:
    - main

# Develop Build
build_lungmap-dev:
  <<: *build_template
  environment:
    name: lungmap-dev
  script:
    - cd_metadata-schema && git checkout develop
    - export GATSBY_EXPLORE_URL=https://data-browser.dev.lungmap.net/explore/
    - export GATSBY_FILE_SUMMARY_API_URL=https://service.dev.singlecell.gi.ucsc.edu/index/summary
    - export GATSBY_PORTAL_URL=https://data-browser.dev.lungmap.net/
    - export GATSBY_TERM_FACETS_API_URL=https://service.dev.singlecell.gi.ucsc.edu/index/projects
    - export GATSBY_SYSTEM_HEALTH_CHECK_API_URL=https://service.dev.singlecell.gi.ucsc.edu/health/progress
    - export GATSBY_GTM_ID=GTM-M2J5NTJ
    - export GATSBY_GTM_AUTH=XOKAlpBSltsrm1PKGR-fow
    - export GATSBY_ENV_NAME=env-149
    - export GATSBY_ENV=STAGING
    - export GATSBY_DEFAULT_CATALOG=lungmap
    - export GATSBY_ATLAS=lungmap
    - gatsby build
  only:
    - lungmap-main

########################################
# Deploy Jobs
########################################

# Deploy Job Template
.deploy_template: &deploy_template
  stage: deploy
  image: python:3.5
  before_script:
    - pip install awscli

# Dev Deploy
deploy_cgl-dev:
  <<: *deploy_template
  environment:
    name: cgl-dev
  script:
    - export BUCKET=s3://dev.singlecell.gi.ucsc.edu/
    - if [ "$MAINTENANCE" = "true" ];then export SRCDIR=maintenance/; else export SRCDIR=public/; fi
    - aws s3 sync --acl public-read $SRCDIR $BUCKET --delete
    - aws cloudfront create-invalidation --distribution-id E3562WJBOLN8W8 --paths "/*"
  only:
    - main

# Lungmap Dev Deploy
deploy_lungmap-dev:
  <<: *deploy_template
  environment:
    name: lungmap-dev
  script:
    - export BUCKET=s3://data-browser.dev.lungmap.net/
    - if [ "$MAINTENANCE" = "true" ];then export SRCDIR=maintenance/; else export SRCDIR=public/; fi
    - aws s3 sync --acl public-read $SRCDIR $BUCKET --delete
    - aws cloudfront create-invalidation --distribution-id E21CJFOUWO9Q7X --paths "/*"
  only:
    - lungmap-main
