# Stuff to ignore for Prettier
*.md
*.markdown


# Local
node_modules
.tmp

# IDEs and editors
.idea

# Misc
.sass-cache
npm-debug.log

#System Files
.DS_Store
Thumbs.db

# Files built using webpack
site/bundle.css
site/style-bundle.js
/.cache/
/public/
/node_modules_bak/

# Metadata search index
static/metadata-index.json
