/**
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Theme overrides for styling react-autosuggest.
 */

/**
 * Core react-autosuggest theming API end points.
 */

/* Input container */
.container {
    position: relative; /* Positions sugestions container */
}

/* Input */
.input {
    background-color: #ffffff; /* TODO colour */
    box-sizing: border-box;
    border: 1px solid #CCCCCC; /* TODO colour */
    border-radius: 3px;
    color: #999999;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    overflow: hidden;
    padding: 0 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.inputFocused {
    outline: none;
}

/* Suggestions container */
.suggestionsContainerOpen {
    background-color: #ffffff; /* TODO colour */
    border: 1px solid #CCCCCC; /* TODO hca-gray-light */
    border-radius: 1px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.06); /* TODO colour */
    box-sizing: border-box;
    max-height: 256px;
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Hide scrollbar in IE unless actively scrolling. */
    overflow-y: auto; /* Hide webkit scrollbar unless actively scrolling. */
    padding: 8px 24px 12px 16px;
    position: absolute;
    top: 56px; /* 50px for select field + 6px below select field */
    width: 100%;
    z-index: 11 !important;
}

/* Suggestions list */
.suggestionsList {
    list-style: none;
    margin: 0;
}

/* Section title */
.sectionTitle {
    color: #999999; /* TODO colour */
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 10px; /* TODO typography */
    font-weight: 500; /* TODO typography */
    height: unset; /* Override MD spec */
    letter-spacing: 0.83px; /* TODO typography */
    line-height: 20px;
    padding: 4px 0;
}

/* Suggestions */
.suggestion {
    cursor: pointer;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px; /* TODO typography */
    letter-spacing: 0.43px; /* TODO typography */
    line-height: 18px;
    margin: 0;
    min-height: 26px;
    padding: 4px 0;
}

/* Suggestions hover */
.suggestionHighlighted {
    background-color: rgba(0, 0, 0, 0.03); /* TODO colour */
}
