/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to HCA autosuggest component.
 */
@import "../../styles/vars.module.css";

/* Search input - container */
.search {
  flex: 1;
  margin: 16px 0;
  width: 100%;
}

/* Error */
.search.error input + div > div:first-of-type {
  background-color: var(--gray-lightest);
  cursor: default;
  margin: -8px -16px 0;
  width: calc(100% + 32px + 8px);
  padding: 8px 16px !important;
}

/* Error message */
.search.error input + div > div:first-of-type div {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: unset;
}

/* Option (flex between option and its count) */
.hcaOption {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

/* Wrap of option if required */
.hcaOption > span:first-of-type {
  max-width: 85%;
  padding-right: 4px;
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 600px) {
  /* Search input - container */
  .search {
    max-width: 400px;
  }
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {
  /* Search input - container */
  .search {
    margin: 0 8px 0 24px;
    max-width: unset;
    width: unset;
  }
}
