/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata schema property field ref intro component.
 */
@import "../../../styles/vars.module.css";

/* Intro. */
.intro {
    background-color: var(--blue-light38);
    border-bottom: 1px solid var(--gray-lightest);
    flex-basis: 100%; /* To take up full width. */
    margin: 0; /* Overrides heading margin. */
    padding: 12px;
    width: 100%;
    text-transform: capitalize;
}
