/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Contribute contribute overview template component.
 */

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    padding: 0 16px; /* Gutter 16px */
}

/* Content */
.hcaContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 36px 0;
}

/* Content */
.hcaContent .contribute {
    margin-right: 0;
    padding-bottom: 22px;
    width: 100%;
}

/* Contribute description */
.contribute h1 {
    font-family: "din-2014", sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 38px;
    margin: 24px 0; /* TODO review */
    text-align: center;
}

.contribute p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 18px;
}

.contribute h4 {
    font-family: "din-2014", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 14px 0 16px;
}

/* Link */
.contribute a {
    color: #1c7cc7; /* TODO colour */
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 18px;
    text-decoration: none;
}

/* Contribute - code + contact us */
.contribute > div:first-of-type {
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 3px;
    display: flex;
    padding: 24px;
}

/* Code */
.contribute .codeStyle {
    margin-right: 16px;
}

.contribute .codeStyle > div {
    color: #000000; /* TODO colour - typography */
    font-family: "PT Mono", sans-serif; /* TODO typography */
    font-size: 14px; /* TODO typography */
    margin-bottom: 16px;
}

.contribute .codeStyle ul {
    margin-bottom: 0;
}

.contribute .codeStyle li {
    color: #000000; /* TODO colour - typography */
    font-family: "PT Mono", sans-serif; /* TODO typography */
    font-size: 14px; /* TODO typography */
    list-style-position: outside;
    margin: 8px 0;
}

/* Button - contact us */
.contribute .contactUs {
    align-items: center;
    background-color: #1c7cc7 /* TODO colour */;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff; /* TODO colour */
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px;
    font-weight: 500; /* TODO typography - confirm - was 600 */
    height: 50px;
    justify-content: center;
    letter-spacing: 0.74px; /* TODO typography spec is 0.21px */
    margin: 0;
    min-width: 84px;
    padding: 0 9px; /* Was 16px - followed spec */
    text-decoration: none;
}

.contribute .contactUs:hover {
    background-color: #0363AE; /* TODO colour */
}

.contribute .contactUs:focus {
    outline: none;
}

/* Flex box - content container */
.contribute .contentFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Flex box - each box */
.contribute .contentFlex > div {
    align-items: center;
    display: flex;
    flex: 100%;
    flex-direction: column;
    margin: 16px 0;
}

/* Image and paragraphy text */
.contribute .contentFlex > div > p {
    text-align: center;
    width: 100%;
}

/* Standard height for all images */
.contribute .contentFlex > div > p:first-of-type {
    height: 80px;
    margin: 0;
}

/* Removes nested a within h4 */
.contribute .contentFlex > div h4 a {
    display: none;
}

/* Padding around paragraph text */
.contribute .contentFlex > div > p:nth-of-type(2) {
    padding: 0 4px;
}

/* Flex link */
.contribute .contentFlex > div a {
    font-weight: 500 !important;
    margin: 0;
}

/* How to participate */
.contribute .subSection {
    margin-top: 58px;
}

.contribute .subSection > h4 {
    text-align: center;
    text-transform: uppercase;
}

.markdownContent:last-of-type {
    max-width: 600px;
}

/**
 * Tablet
 */
@media screen and (min-width: 768px) {

    /* Content */
    .hcaContent {
        flex-direction: row;
    }

    /* Content */
    .hcaContent .contribute {
        margin-right: 14px;
    }

    .contribute .contentFlex > div {
        flex: 50%;
    }
}

/**
 * Medium
 */
@media screen and (min-width: 1024px) {

    /* Flex box - content container */
    .contribute .contentFlex {
        flex-direction: row;
    }

    /* Flex content - each box */
    .contribute .contentFlex > div {
        flex: 25%;
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }

    /* Content */
    .hcaContent .contribute {
        max-width: 740px;
    }
}


