/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal health check template component.
 */

/* Content */
.hcaContent {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 36px 0;
}

/* Content */
.hcaContent .healthCheckContent {
	margin-right: 0;
	width: 100%;
}

.system .label, .system .systemStatus {
	display: flex;
	flex: 1;
	margin: 0;
}

.system span {
	display: inline-flex;
	flex: 1;
	padding: 4px 0;
}

.system span:first-of-type {
	max-width: 200px;
}

/**
 * Medium
 */
@media screen and (min-width: 768px) {

	/* Content */
	.hcaContent {
		flex-direction: row;
	}

	/* Content - when there is no navigation */
	.noNav .healthCheckContent {
		margin-left: 176px;
	}

	/* Content */
	.hcaContent .healthCheckContent {
		margin-right: 14px;
		max-width: 640px;
	}
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

	/* Content - when there is no navigation */
	.noNav .healthCheckContent {
		margin-left: 290px;
	}
}
