/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata template component.
 */

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    padding: 0 16px;
}

/* Content */
.hcaContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 36px 0;
}

/* Content */
.hcaContent .markdownContent {
    margin-right: 0;
    width: 100%;
}

/* Edit me */
.markdownContent .editContent {
    color: rgba(28, 124, 199, 0.6);
    float: right;
    font-size: 12px;
    margin: 14px 0 0;
    text-align: right;
    width: 100%;
}

/**
 * Medium
 */
@media screen and (min-width: 768px) {

    /* Content */
    .hcaContent {
        flex-direction: row;
    }

    /* Content */
    .hcaContent .markdownContent {
        margin-right: 14px;
        max-width: 600px;
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }
}


