/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata template component.
 */

/* Code base for type */
.meta + p {
	font-size: 15px;
	margin: 4px 0;
}

.meta + p + p {
	margin-bottom: 24px;
}
