/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal system status template component.
 */

/* Label, status */
.system .label, .system .systemStatus {
	align-items: flex-start;
	display: flex;
	flex: 1;
	margin: 0;
}

.system span {
	display: inline-flex;
	flex: 1;
	padding: 6px 0;
}

.system span:first-of-type {
	display: block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
