/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata search results panel component.
 */
@import "../../../styles/vars.module.css";

/* Panel. */
.panel {
  border-top: 1px solid var(--gray-light);
  background-color: var(--white);
  height: 100vh;
  left: 0;
  margin: 6px 0 0;
  overflow: hidden;
  position: absolute; /* Positions hero. */
  width: 100vw;
  z-index: 16; /* Above inner content, overlay. */
}

/* Panel - label i.e. "schema" or "property". */
.panel [id="label"] {
  margin: 0;
  padding: 16px var(--gutter-x) 4px;
}

/* All <p> - last. */
.panel > p:last-of-type {
  margin: 0;
}
