/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata schema no required properties component.
 */
@import '../../../styles/vars.module.css';

/* No results. */
.noResults {
  border-top: 1px solid var(--gray-lightest);
  display: flex;
  padding: 12px;
}

/* All <p>. */
.noResults p {
  margin: 0;
}
