/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal TOC component.
 */
@import "../../styles/vars.module.css";

/* TOCs */
.tocs {
    display: none;
}

/* Unordered list - no list style */
.tocs ul {
    list-style: none;
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

    /* TOC */
    .tocs {
        display: flex;
        height: 100%;
        margin-bottom: 88px; /* Prevents TOC extending beyond content end */
        position: sticky;
        top: 84px;
    }

    /* TOCs - unordered list */
    .tocs ul {
        margin-left: 18px !important; /* Total separation between content and TOC is 32px */
        max-width: 178px; /* Max TOC width total is 196px - includes 18px margin */
        min-width: 178px; /* Max TOC width total is 196px - includes 18px margin */
    }
}
