/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata schema property component.
 */
@import "../../../styles/vars.module.css";

/* Property. */
.schemaProperty {
    align-items: flex-start;
    border-top: 1px solid var(--gray-lightest);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Property - first. */
.schemaProperty:first-of-type {
    margin-top: 8px;
}

/* All columns. */
.schemaProperty > span {
    padding: 12px;
    width: 100%;
}

/* First column. */
.schemaProperty > span:first-of-type {
    padding: 12px 12px 4px;
}

/* Second column. */
.schemaProperty > span:nth-of-type(2) {
    overflow-wrap: anywhere;
    padding: 4px 12px 12px;
}

/* All <p>. */
.schemaProperty > span > p {
    margin-bottom: 4px;
}

/* Last <p> in each column. */
.schemaProperty > span > p:last-child {
    margin-bottom: 0;
}

/**
 * 1280px - Large tablet landscape, medium window
 */
@media screen and (min-width: 1280px) {

    /* Property. */
    .schemaProperty {
        flex-direction: row;
    }

    /* All columns. */
    .schemaProperty > span, .schemaProperty > span:first-of-type, .schemaProperty > span:nth-of-type(2) {
        padding: 12px;
    }

    /* First column. */
    .schemaProperty > span:first-of-type {
        width: 35%;
    }

    /* Second column. */
    .schemaProperty > span:nth-of-type(2) {
        flex: 1;
    }
}
