/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata schema property field path component.
 */

/* Property path. */
.propertyPath {
  cursor: pointer; /* For copy action. */
}

/* Property path. */
.propertyPath,
.propertyPath span {
  flex-wrap: wrap;
}

/* Copy icon. */
.propertyPath img {
  align-self: center;
  box-sizing: content-box;
  padding: 6px;
  opacity: 0;
  width: 12px;
}

/* Copy icon - show. */
.propertyPath img.show {
  opacity: 0.38;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Copy icon - hover. */
.propertyPath img:hover {
  opacity: 0.54;
}
