/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to HCA Data Portal search input component.
 */

/* Input. */
.input {
  composes: input from "../../metadata/metadataSearchInput/metadataSearchInput.module.css";
  border-color: var(--blue-darkest);
  -webkit-appearance: none; /* Removes inner shadow on mobile. */
  overflow: hidden;
  padding: 0 38px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Lungmap specific style overrides. */
.input.lungmap {
  background-color: var(--white);
  border-color: var(--white);
  caret-color: var(--secondary);
  color: var(--primary);
}

/* Input - placeholder. */
.input.lungmap::placeholder {
  color: var(--primary)
}
