/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata type component.
 */

/* Type name */
.metadataType + p {
    font-size: 15px;
    margin: -18px 0 4px;
}

/* Type description */
.metadataType + p + p {
    margin: 8px 0 4px 0;
}

/* Type required */
.metadataType + p + p + p {
    margin-bottom: 32px;
}
