/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA Data Portal anchor component.
 */
@import "../../styles/vars.module.css";

/* Anchor wrapper */
.anchor {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0 0 0 4px;
  position: absolute; /* Required to prevent SVG wrapping to new line */
}

/* Anchor - relative. */
.anchorRelative {
  position: relative; /* Required - for metadata - to prevent SVG positioning over copy icon. */
}

/* Anchor typically hidden */
.anchor svg {
  vertical-align: middle;
  visibility: hidden;
}

/* Show anchor on hover/focus */
h1:hover .anchor svg,
h2:hover .anchor svg,
h3:hover .anchor svg,
h4:hover .anchor svg,
h5:hover .anchor svg,
h6:hover .anchor svg,
span:hover .anchor svg,
h1 .anchor:focus svg,
h2.anchor:focus svg,
h3 .anchor:focus svg,
h4 .anchor:focus svg,
h5 .anchor:focus svg,
h6 .anchor:focus svg,
span:focus .anchor svg {
  visibility: visible;
}
