/**
 * Typography
 */
@import './vars.module.css';

/* Class "headline" */
/* Human Cell Atlas Headline */
.headline {
	color: var(--blue-dark);
	font-family: "din-2014", sans-serif;
	font-size: 50px;
	font-weight: 500;
	line-height: 58px;
	margin: 0;
}

/* Class "subhead" */
/* Human Cell Atlas Subhead */
.subhead {
	font-family: "din-2014", sans-serif;
	font-size: 34px;
	font-weight: 500;
	letter-spacing: 0.15px;
	line-height: 40px;
	margin: 34px 0 0;
}

/* Class "introTitle" */
/* Human Cell Atlas Intro Title */
.introTitle {
	letter-spacing: 1.5px;
	margin: 0;
	text-transform: uppercase;
}

/* Class "introText" */
/* Human Cell Atlas Intro Text */
.introText {
	font-family: "din-2014", sans-serif;
	font-size: 34px;
	font-weight: 500;
	letter-spacing: 0.15px;
	line-height: 40px;
	margin: 30px 0 0;
}

/* Header class */

/* Class "fontsize-xxl" */
.xxl {
	font-family: "din-2014", sans-serif;
	font-size: 34px;
	font-weight: 500;
	line-height: 38px;
	margin: 28px 0 6px;
}

/* Class "fontsize-xl" */
.xl {
	font-family: "din-2014", sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	margin: 24px 0 8px;
}

/* Class "fontsize-l" */
.l {
	font-family: "din-2014", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	margin: 16px 0 10px;
}

/* Class "fontsize-m" */
.m {
	font-family: "din-2014", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin: 14px 0 16px;
}

/* Paragraph class */

/* Class "fontsize-l" */
/* Paragraph font only */
p.l {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	margin: 0 0 24px;
}

/* Class "fontsize-m" */
/* Paragraph font only */
p.m {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin: 0 0 18px;
}

/* Class "fontsize-s" */
.s {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin: 0 0 12px;
}

/* Class "fontsize-xs" */
.xs {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	margin: 0 0 8px;
}

/* "fontsize-xs" "semiBold" */
.xs.semiBold {
	font-weight: 500;
}

/* Class "fontsize-xxs" */
.xxs {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	margin: 0 0 4px;
}

/* Primary Navigation */
.navPrimary {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

/* Secondary Navigation */
.navSecondary {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.hcaCode {
	font-family: "Source Code Pro", monospace;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
}

/* Font colour white on dark backgrounds */
.bgDark {
	color: var(--white);
}

/* Removes font margin */
.noMargin {
	margin: 0 !important;
}
