/**
 * Global Markdown Styles
 */

@import '../styles/vars.module.css';

/* Markdown styles */
/* Embedded video wrapper */
div[class*="gatsby-resp-iframe-wrapper"] {
	padding-bottom: 316px !important; /* Padding equal to iframe max-height */
}

/* Embedded video */
iframe {
	margin-bottom: 24px;
	max-height: 316px !important;
	max-width: 560px !important;
}

/* Code within table - allows use of underscore */
td code {
	color: inherit !important;
	background-color: transparent !important;
	font-size: inherit !important;
	padding: 0 !important;
}

/* Code - inline and block */
code[class*="language-"], pre[class*="language-"] {
	color: var(--black);
	font-family: "PT Mono", "Montserrat", sans-serif;
	font-size: 15px;
	white-space: pre-wrap; /* Allow line to wrap - responsive */
	word-break: break-all; /* Allow line to wrap - responsive */
}

/* Code - inline and block - background */
pre[class*="language-"], :not(pre) > code[class*="language-"] {
	background-color: var(--white-off);
	border-radius: 3px;
}

/* Code - inline */
:not(pre) > code[class*="language-"] {
	padding: 2px;
}

/* Code - block */
pre[class*="language-"] {
	margin: 0 0 18px;
	padding: 16px;
}

/** Autolink headers */
h1, h2, h3, h4, h5, h6 {
	scroll-margin-top: 84px;
}
