/**
 * Colors
 */

:root {
  --accent: #e8aa45;
  --accent-hover: #cf912c;
  --background: #f4f7f9;
  --blue-dark: #0c87c6;
  --blue-darkest: #1f6b9a;
  --blue-light: #daf0f6;
  --blue-light38: rgba(218, 240, 246, 0.38);
  --font-black: #202124; /** Matches typography body style */
  --gray-dark: #666666;
  --gray-darkest: #333333;
  --gray-light: #cccccc;
  --gray-lightest: #eaeaea;
  --gray-medium: #999999;
  --gray-pale: #f1f1f2;
  --gray-search: #717272;
  --highlight: rgba(255, 255, 0, 0.3);
  --primary: #1c7cc7;
  --primary-hover: #0866ae;
  --secondary: #00d0f4;
  --secondary-hover: #2dafd7;
  --white: #ffffff;
  --white-off: #f8f8f8;
  --black: #000000;
  --black1: rgba(0, 0, 0, 0.01);
  --black3: rgba(0, 0, 0, 0.03);
  --black6: rgba(0, 0, 0, 0.06);
  --black24: rgba(0, 0, 0, 0.24);
  --black38: rgba(0, 0, 0, 0.38);
}
