/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal content component.
 */

/* Content */
.hcaContent {
    margin: 36px 0;
    width: 100%;
}

/* Inner content */
.innerContainer {
    margin: 0 auto;
    width: 100%;
    z-index: 2; /* Required for heading anchor - nav overlaps anchor position. */
}

/* Content - metadata - max width at 1000px. */
/* Available for metadata content. */
.metadataContent .innerContainer {
    max-width: 1000px;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

    /* Inner content */
    .innerContainer {
        max-width:800px;
    }
}
