/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal content component.
 */

/* Content */
.hcaContent {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 36px 0;
	width: 100%; /* TODO confirm */
}

/* Inner content */
.hcaContentInner {
	margin-right: 0;
	width: 100%;
	z-index: 2; /* Required for heading anchor */
}

.hcaContentInner > h2:first-of-type {
	margin-top: 0;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	/* Content */
	.hcaContent {
		flex-direction: row;
	}

	/* Content - when there is no navigation */
	.noNav > div {
		margin-left: 176px;
	}

	/* Inner content */
	.hcaContentInner {
		max-width: 640px;
	}
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

	/* Content - when there is no navigation */
	.noNav > div {
		margin-left: 290px;
	}

	/* Inner content */
	.hcaContentInner {
		margin-right: 14px;
	}
}
