/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for Data Portal select box. 
 */

/* React select drop down */
input[class*='dummy'] {
  height: 34px !important; /* Reduce height to 34 to ensure total drop down size is 36 */
  margin-bottom: 0 !important;
}

/* React select drop down indicator */
[class*='indicatorContainer'] {
  padding: 0 8px !important;
}
