/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal TOC item component.
 */
@import "../../styles/vars.module.css";

/* TOC item */
.toc {
    display: flex;
    margin: 0;
    position: relative; /* Positions nav bar */
}

/* TOC - link */
.toc a {
    color: var(--gray-dark);
    padding: 4px 0;
    width: 100%; /* Improves click-able area on link */
}

/* TOC - depth 3 */
.toc a.depth3 {
    margin-left: 8px;
}

/* TOC link - hover */
.toc:hover a {
    color: var(--gray-darkest);
}

/* TOC link - active */
.toc.active a {
    color: var(--black);
}

/* TOC bar */
.toc:before {
    background-color: var(--gray-lightest);
    content: "";
    height: 100%;
    left: -8px;
    position: absolute;
    top: 0;
    width: 1px;
}

/* TOC bar - active */
.toc.active:before {
    background-color: var(--primary);
    left: -8px;
}
