/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal TOC item component.
 */
@import "../../styles/vars.module.css";

/* TOC item */
.toc {
  display: flex;
  margin: 0;
  position: relative; /* Positions nav bar */
}

/* TOC - link */
.toc button {
  background: transparent;
  border: 0;
  color: var(--font-black);
  cursor: pointer;
  letter-spacing: 0.2px; /* Matches body and left nav */
  font-weight: 400;
  outline: 0;
  padding: 4px 0;
  text-align: left;
  transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%; /* Improves click-able area on link */
}

/* TOC - depth 3 */
.toc button.depth3 {
  margin-left: 8px;
}

/* TOC link - hover */
.toc:hover button {
  color: var(--gray-medium);
}

/* TOC link - active */
.toc.active button {
  color: var(--black);
}

/* TOC bar */
.toc:before {
  background-color: var(--gray-lightest);
  content: "";
  height: 100%;
  left: -8px;
  position: absolute;
  top: 0;
  width: 1px;
}

/* TOC bar - active */
.toc.active:before {
  background-color: var(--primary);
  left: -8px;
}
