/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal analyze component.
 */

@import '../../styles/vars.module.css';

/* Analyze list */
.hcaAnalyzeList {
    border-bottom: 1px solid var(--gray-lightest);
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative; /* Positions button */
    width: 100%;
}

.hcaAnalyzeList > div {
    margin-right: 16px;
}

.hcaAnalyzeList:last-of-type {
    margin-bottom: 0;
}

/* Heading */
.hcaAnalyzeList h3 {
    margin-top: 0;
}
