/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal footer link component.
 */

/* Footer link */
.link {
  composes: s from "../../styles/fontsize.module.css";
  color: var(--white);
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}

/* Footer links with click actions */
.button {
  background: transparent;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 24px; /* Match link */
  margin: 0;
  padding: 0;
}
