/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal attributions page.
 */

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    padding: 0 16px;
}

/* Content */
.hcaContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 36px 0;
    max-width: 740px;
}

/* Attributions */
.attributions {
    align-items: flex-start;
    display: flex;
}

/* Icon */
.attributions .mosaic {
    height: 16px;
    margin: 4px 0;
    padding-right: 8px;
}

/* Attributions p class s */
.attributions p.s {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 18px;
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }
}


