/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal 404 and error page.
 */

/* Cell background image */
.cellImage {
	background: url('../../images/cell/error.png') center / cover no-repeat;
	bottom: 0;
	left: 0;
	opacity: 0.6;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

.error a:not(:last-of-type) {
	margin-bottom: 4px;
}
