/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal 404 and error page.
 */

/* Cell background image */
.cellImage {
	background: url(../../images/data-portal/cell.png) center no-repeat;
	background-size: cover;
	bottom: 0;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

/* Error h2 */
.error h2 {
	margin: 0 0 16px;
}

.error a:not(:last-of-type) {
	margin-bottom: 4px;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	/* Cell background image */
	.cellImage {
		background: url(../../images/data-portal/cell.png) top no-repeat;
		background-size: cover;
	}
}
