/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal home page.
 */
@import '../../src/styles/vars.module.css';

/**
 * Section
 */

/* Padding - 42px */
/* Hero */
.main .lifecycle {
	padding: 42px 0;
}

/* Padding - 48px */
/* Hero */
.main .hero {
	padding: 48px 0;
}

/* Padding - 64px */
/* What is the HCA portal */
.main .portal {
	padding: 64px 0;
}

/* Padding - 80px */
/* Stay up to date */
.main .contact {
	padding: 80px 0;
}

/**
 * Section Inner
 */

/* Inner - container */
.main .sectionInner {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 16px;
}

/* Inner - small */
.main .sectionInner.s {
	max-width: 768px;
}

/**
 * Text Alignment
 */

/* Hero, Section Intro */
.main .hero, .main .intro {
	text-align: left;
}

/* Text - shared font styles */
/* Paragraph */
/* Tile description, lifecycle */
.main .process .text p, .main .lifecycle p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

/**
 * Modules
 */

/* Margin - 32px */
.main .module:not(.spacer) {
	margin: 32px 0 0;
}

/* Margin - 56px */
.main .module.spacer {
	margin: 56px 0 0;
}

/*
 * Sections
 */

/* Display - flex */
/* Process, tile container, tile text container, process arrow container, visit project container */
.main .process, .main .process .tile, .main .process .text, .main .process .arrow,
.main .visit {
	display: flex;
}

/* Flex - column */
/* Process container, tile text container */
.main .process, .main .process .text {
	flex-direction: column;
}

/* Flex - row */
/* Tile container */
.main .process .tile {
	flex-direction: row;
}

/* Flex - justify content - center */
/* Process arrow container */
.main .process .arrow {
	justify-content: center;
}

/* Flex - justify content - start */
/* Visit project container */
.main .visit {
	justify-content: flex-start;
}

/* Flex - align items - center */
/* Process */
.main .process {
	align-items: center;
}

/* Flex - align self - start */
/* Tile container, process arrow container */
.main .process .tile, .main .process .arrow {
	align-self: start;
}

/* Flex - align self - center */
/* Tile text container */
.main .process .text {
	align-self: center;
}

/* Flex - 1 */
/* Tile container, tile text container */
.main .process .tile, .main .process .text {
	flex: 1;
}

/**
 * What is the HCA Portal?
 */

/* Tile icon container */
.main .process .icon {
	height: 100px;
	width: 100px;
}

/* Tile icon image */
.main .process .icon img {
	height: 100%;
	width: 100%;
}

/* Tile text container */
.main .process .text {
	max-width: 300px;
}

/* Tile link */
.main .process .text a {
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	margin: 8px 0 0;
}

/* Process arrow container */
.main .process .arrow {
	width: 100px;
}

/* Process arrow image */
.main .process .arrow img {
	transform: rotate(90deg);
	width: 20px;
}

/**
 * Data Lifecycle
 */

/* Lifecycle */
.main .lifecycle {
	background-color: var(--blue-light);
}

/**
 * Project Link
 */

/* Stay up to date */
.main .contact {
	background: url('../../images/data-portal/learnMoreCell.png') center / cover no-repeat;
}

/* Section */
/* Wrapper */
.sectionWrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px; /* Snap to 1200px, gutter 16px */
	padding: 30px 16px;
}

/* Stats bar */
.statsBar {
	background: linear-gradient(90deg, #3867FA, #5ABCEF);
}

/* Stats bar - wrapper */
.statsBar > div {
	flex-direction: row;
	height: 90px;
	padding: 0 16px; /* Equivalent to wrapper - gutter 16px */
}

/* Status - show Cells, Organs, Donors only */
.statsBar > div > div {
	align-items: center;
	display: flex;
	flex-basis: calc(100% / 3);
	flex-direction: column;
	justify-content: center;
}

/* Status - hide Projects, Labs */
.statsBar > div > div:nth-of-type(n + 4) {
	display: none;
}

/* Status name */
.statsBar > div > div p {
	color: var(--white);
	letter-spacing: 3.25px;
	margin: 0 0 -4px;
}

/* Status number */
.statsBar > div > div h1 {
	color: var(--white);
	font-size: 36px;
	line-height: 42px;
	min-height: 42px;
	opacity: 0;
	padding: 0 12px;
	text-align: center;
}

.statsBar.loaded > div > div h1 {
	transition: opacity 0.5s ease 0s;
	opacity: 1;
}

/* Explore */
.explore .sectionWrapper > div {
	position: relative;
}

.explore .exploreText {
	margin-bottom: 32px;
}

/* Explore heading */
.explore h2 {
	margin-bottom: 14px;
	margin-top: 0;
}

/* Explore sub-text */
.explore p {
	color: var(--gray-dark);
	line-height: 18px;
	margin-bottom: 0;
	max-width: 336px;
}

/* Explore svg placeholder */
.explore .explorePlaceholder {
	display: none;
}

/**
 * HCA specific breakpoint
 * For hero headline only
 */
@media screen and (min-width: 540px) {

	/* Hero headline - wraps text at specified <span> break */
	.main .hero h1 span {
		display: block;
	}
}

/**
 * Mobile landscape
 */
@media screen and (min-width: 667px) {

	/**
	 * Sections
	 */

	/**
	 * What is the HCA Portal?
	 */

	/* Tile icon container */
	.main .process .icon {
		height: 168px;
		width: 168px;
	}

	/* Process arrow container */
	.main .process .arrow {
		width: 168px;
	}

	/* Process arrow img */
	.main .process .arrow img {
		width: 27px;
	}

	/* Status */
	.statsBar > div > div {
		flex-basis: unset;
	}

	/* Status - show Projects, Labs */
	.statsBar > div > div:nth-of-type(n + 4) {
		display: flex;
	}

	/* Status number */
	.statsBar > div > div h1 {
		width: 116px;
	}
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	/**
	 * Text Alignment
	 */
	/* Hero, Section Intro */
	.main .hero, .main .intro {
		text-align: center;
	}

	/**
	 * Sections
	 */

	/* Flex - justify content - center */
	/* Visit project container */
	.main .visit {
		justify-content: center;
	}

	/* Flex - align self - center */
	/* Tile container, process arrow container */
	.main .process .tile, .main .process .arrow {
		align-self: center;
	}

	/* Explore text */
	.explore .exploreText {
		margin-bottom: 0;
		position: absolute;
		top: 0;
	}

	/* Explore Imagery */
	.explore > div > div:first-of-type {
		margin-bottom: -84px; /* Equal to wrapper padding and svg re-sized to 650px */
		max-width: 650px;
	}

	/* Svg */
	.explore svg {
		width: 650px;
	}

	/* Svg placeholder */
	.explore .explorePlaceholder {
		display: block;
		height: unset;
		margin-bottom: 54px;
		margin-top: 52px; /* svg is 463px high, but 54px positioned below content, leaving 52px of height at top unaccounted for in img */
		width: 650px;
	}
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

	/**
	 * Sections
	*/

	/* Display - flex */
	/* Process arrow container */
	.main .process .arrow {
		display: flex;
	}

	/* Flex - column */
	/* Tile container */
	.main .process .tile  {
		flex-direction: column;
	}

	/* Flex - row */
	/* Process */
	.main .process {
		flex-direction: row;
	}

	/* Flex - align items - center */
	/* Arrow icon */
	.main .process .arrow {
		align-items: center;
	}

	/* Flex - align items - stretch */
	/* Process */
	.main .process {
		align-items: stretch;
	}

	/* Flex - align self - unset */
	/* Tile container, process arrow container */
	.main .process .tile, .main .process .arrow {
		align-self: unset;
	}

	/* Flex - 1 */
	/* Tile text container, tile description */
	.main .process .text, .main .process .text p {
		flex: 1;
	}

	/**
	 * What is the HCA Portal?
	 */

	/* Tile icon container */
	.main .process .icon {
		height: 168px;
		width: 100%;
	}

	/* Tile icon image */
	.main .process .icon img {
		height: 100%;
		width: inherit;
	}

	/* Tile text container */
	.main .process .text {
		width: unset;
	}

	/* Tile description, tile link */
	.main .process .text p, .main .process .text a {
		text-align: center;
		width: 100%;
	}

	/* Tile description */
	.main .process .text p {
		margin: 8px 0 0;
	}

	/* Tile link */
	.main .process .text a {
		height: 42px;
		margin: 16px 0 0;
	}

	/* Process arrow container */
	.main .process .arrow {
		height: 168px; /* Forces arrow container to be same height as tile icon container */
		margin-right: 5px;
		width: unset;
	}

	/* Process arrow image */
	.main .process .arrow img {
		transform: rotate(0deg);
	}

	/* Wrapper */
	.sectionWrapper {
		padding: 70px 16px;
	}

	/* Status number */
	.statsBar > div > div h1 {
		width: 164px;
	}

	/* Explore Imagery */
	.explore > div > div:first-of-type {
		margin-bottom: -70px; /* Equal to wrapper padding */
		max-width: 800px;
	}

	/* Svg */
	.explore svg {
		width: unset;
	}

	/* Svg placeholder */
	.explore .explorePlaceholder {
		margin: 0;
		max-width: 841px;
		width: unset;
	}
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

	/* Wrapper */
	.sectionWrapper {
		padding: 70px 30px;
	}

	/* Stats bar - wrapper */
	.statsBar > div {
		padding: 0 30px; /* Equivalent to wrapper - gutter 30px */
	}
}

