/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal home page.
 */
@import '../../src/styles/vars.module.css';

/**
 * Section
 */

/* Padding - specific */
/* Metrics bar */
.main .metricsBar {
	padding: 30px 0 35px 0;
}

/* Explore */
.main .explore {
	padding: 64px 0;
}

/* Padding - 42px */
/* Hero */
.main .lifecycle {
	padding: 42px 0;
}

/* Padding - 48px */
/* Hero */
.main .hero {
	padding: 48px 0;
}

/* Padding - 64px */
/* What is the HCA portal */
.main .portal {
	padding: 64px 0;
}

/* Padding - 80px */
/* Stay up to date */
.main .contact {
	padding: 80px 0;
}

/**
 * Section Background
 */

/* Metrics bar, lifecycle */
.main .metricsBar, .main .lifecycle {
	background-color: var(--blue-light);
}

/* Stay up to date */
.main .contact {
	background: url('../../images/cell/visitProject.png') center / cover no-repeat;
}

/**
 * Section Inner
 */

/* Inner - container */
.main .sectionInner {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 16px;
}

/* Inner - small */
.main .sectionInner.s {
	max-width: 768px;
}

/* Inner - medium */
.main .sectionInner.m {
	max-width: 968px;
}

/* Inner - large */
.main .sectionInner.l {
	max-width: 1168px;
}

/**
 * Modules
 */

/* Margin - 32px */
.main .module:not(.spacer) {
	margin: 32px 0 0;
}

/* Margin - 56px */
.main .module.spacer {
	margin: 56px 0 0;
}

/**
 * Text
 */

/* Text - alignment */
/* Hero, Section Intro */
.main .hero, .main .intro {
	text-align: left;
}

/* Text - shared font styles */
/* Paragraph */
/* Tile description, lifecycle */
.main .process .text p, .main .lifecycle p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
}

/*
 * Section Specific Styles
 */

/* Display - flex */
/* Process, tile container, tile text container, process arrow container */
/* Visit project container */
/* Metrics container, metric container */
.main .process, .main .process .tile, .main .process .text, .main .process .arrow,
.main .visit,
.main .metrics, .metric {
	display: flex;
}

/* Flex - column */
/* Process container, tile text container */
/* Metrics container */
.main .process, .main .process .text,
.main .metrics {
	flex-direction: column;
}

/* Flex - row */
/* Tile container */
.main .process .tile {
	flex-direction: row;
}

/* Flex - justify content - center */
/* Process arrow container */
.main .process .arrow {
	justify-content: center;
}

/* Flex - justify content - space between */
/* Metrics container */
.main .metrics {
	justify-content: space-between;
}

/* Flex - justify content - start */
/* Visit project container */
.main .visit {
	justify-content: flex-start;
}

/* Flex - align items - center */
/* Process */
.main .process {
	align-items: center;
}

/* Flex - align self - start */
/* Tile container, process arrow container */
.main .process .tile, .main .process .arrow {
	align-self: start;
}

/* Flex - align self - center */
/* Tile text container */
.main .process .text {
	align-self: center;
}

/* Flex - 1 */
/* Tile container, tile text container */
/* Metrics container */
.main .process .tile, .main .process .text,
.main .metrics {
	flex: 1;
}

/**
 * Metrics
 */

/* Metrics bar container - loading */
.main .loading .metrics {
	opacity: 0.6;
}

/* Metrics bar - loaded */
.main .metrics {
	opacity: 1;
	transition: opacity 2s ease;
}

/* Metric container */
.main .metric {
	height: 85px;
}

/* Metric container - evens */
.main .metric:nth-of-type(2n) {
	margin: 8px 0;
}

/* Metric image */
.main .metric img {
	height: 100%;
	margin-right: 8px;
}

/* Metric count */
.main .metric .count {
	color: var(--blue-dark);
	font-size: 50px;
	line-height: 61px; /* Per specification */
	letter-spacing: 0.22px;
	padding-top: 2px;
}

/* Metric label */
.main .metric .label {
	font-family: "din-2014", sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1.5px;
	line-height: 19px; /* Per specification */
	margin-top: -6px;
	padding-bottom: 9px;
	text-transform: uppercase;
}

/* Metric text - loading */
.main .loading .metric .count, .main .loading .metric .label {
	color: var(--gray-search);
}

/* Metric text - loaded */
.main .metric .count, .main .metric .label {
	display: block;
	transition: color 2s ease; /* Loaded */
}

/**
 * What is the HCA Portal?
 */

/* Tile icon container */
.main .process .icon {
	height: 100px;
	width: 100px;
}

/* Tile icon image */
.main .process .icon img {
	height: 100%;
	width: 100%;
}

/* Tile text container */
.main .process .text {
	max-width: 300px;
}

/* Tile link */
.main .process .text a {
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	margin: 8px 0 0;
}

/* Process arrow container */
.main .process .arrow {
	width: 100px;
}

/* Process arrow image */
.main .process .arrow img {
	transform: rotate(90deg);
	width: 20px;
}

/**
 * HCA specific breakpoint
 * For hero headline only
 */
@media screen and (min-width: 540px) {

	/* Hero headline - wraps text at specified <span> break */
	.main .hero h1 span {
		display: block;
	}
}

/**
 * Mobile landscape
 */
@media screen and (min-width: 667px) {

	/*
	 * Section Specific Styles
	 */

	/**
	 * Explore
	 */

	/* Intro text - wraps text at specified <span> break */
	.main .explore .intro p span {
		display: block;
	}

	/**
	 * What is the HCA Portal?
	 */

	/* Tile icon container */
	.main .process .icon {
		height: 168px;
		width: 168px;
	}

	/* Process arrow container */
	.main .process .arrow {
		width: 168px;
	}

	/* Process arrow img */
	.main .process .arrow img {
		width: 27px;
	}
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	/**
	 * Text Alignment
	 */
	/* Hero, Section Intro */
	.main .hero, .main .intro {
		text-align: center;
	}

	/*
	 * Section Specific Styles
	 */

	/* Flex - justify content - center */
	/* Visit project container */
	/* Metric container */
	.main .visit,
	.main .metric {
		justify-content: center;
	}

	/* Flex - align self - center */
	/* Tile container, process arrow container */
	.main .process .tile, .main .process .arrow {
		align-self: center;
	}
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

	/* Explore */
	.main .explore {
		padding: 64px 0 0;
	}
}

/**
 * Medium +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 1024px) {

	/*
	 * Section Specific Styles
	 */

	/* Display - flex */
	/* Process arrow container */
	.main .process .arrow {
		display: flex;
	}

	/* Flex - column */
	/* Tile container */
	.main .process .tile  {
		flex-direction: column;
	}

	/* Flex - row */
	/* Process */
	/* Metrics container */
	.main .process,
	.main .metrics {
		flex-direction: row;
	}

	/* Flex - align items - center */
	/* Arrow icon */
	.main .process .arrow {
		align-items: center;
	}

	/* Flex - align items - stretch */
	/* Process */
	.main .process {
		align-items: stretch;
	}

	/* Flex - align self - unset */
	/* Tile container, process arrow container */
	.main .process .tile, .main .process .arrow {
		align-self: unset;
	}

	/* Flex - 1 */
	/* Tile text container, tile description */
	.main .process .text, .main .process .text p {
		flex: 1;
	}

	/**
	 * Metrics
	 */

	/* Metric container - evens */
	.main .metric:nth-of-type(2n) {
		margin: 0;
	}

	/**
	 * What is the HCA Portal?
	 */

	/* Tile icon container */
	.main .process .icon {
		height: 168px;
		width: 100%;
	}

	/* Tile icon image */
	.main .process .icon img {
		height: 100%;
		width: inherit;
	}

	/* Tile text container */
	.main .process .text {
		width: unset;
	}

	/* Tile description, tile link */
	.main .process .text p, .main .process .text a {
		text-align: center;
		width: 100%;
	}

	/* Tile description */
	.main .process .text p {
		margin: 8px 0 0;
	}

	/* Tile link */
	.main .process .text a {
		height: 42px;
		margin: 16px 0 0;
	}

	/* Process arrow container */
	.main .process .arrow {
		height: 168px; /* Forces arrow container to be same height as tile icon container */
		margin-right: 5px;
		width: unset;
	}

	/* Process arrow image */
	.main .process .arrow img {
		transform: rotate(0deg);
	}
}
