/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal home component.
 */

/* Typography */
/* TODO typography */
h1, h2, h3, h4, h5, h6 {
    font-family: "din-2014", "Montserrat";
    font-weight: 500;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 18px;
}

h1 {
    font-size: 32px;
    line-height: 38px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 34px 0 36px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 16px 0 18px;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 14px 0 16px;
}

/* P - class "l" */
p[class^="l"] {
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 30px;
}

/* P - class "m" */
p[class^="m"] {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 26px;
}

/* P - class "s" */
p[class^="s"] {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 18px;
}

/* P - class "xs" */
p[class*="xs"] {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 16px;
}

/* P - class "xxs" */
p[class^="xxs"] {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 14px;
}

/* Link */
a {
    color: #1288E4; /* TODO colour */
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 18px;
    text-decoration: none;
}

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px; /* Snap to 1200px, gutter 16px */
    padding: 30px 16px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../../images/jumbotron/small-cell-jumbotron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Jumbotron title */
.jumbotron h1 {
    margin: 0;
    text-align: center;
}

/* Learn more link */
.jumbotron .wrapper > a {
    color: #000000; /* TODO colour */
    margin: 10px 0 24px;
    text-decoration: none;
}

.jumbotron .wrapper > a .xs {
    margin: 0;
    text-transform: uppercase;
}

/* Jumbotron search bar */
.jumbotronSearch {
    align-items: center;
    max-width: 343px; /* Width on mobile 375px */
    position: relative; /* Positions search button */
    width: 100%;
}

/* Input - class homepage */
input.homepage {
    border: 1px solid #CCCCCC; /* TODO colour */
    border-radius: 3px;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    padding: 0 16px;
    white-space: nowrap;
}

input.homepage {
    outline: none;
}

/* Input placeholder */
input::placeholder {
    color: #999999; /* TODO colour */
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder {
    color: #999999; /* TODO colour */
}

input:-ms-input-placeholder {
    color: #999999; /* TODO colour */
}

/* Jumbotron input */
.jumbotronSearch input.homepage {
    width: 100%;
}

/* Jumbotron - hide longer search text */
.jumbotronSearch input.homepage.large {
    display: none;
}

/* Button - class homepage */
button.homepage {
    align-items: center;
    background-color: #f5a623 /* TODO colour */;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff; /* TODO colour */
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px;
    font-weight: 500; /* TODO typography - confirm - was 600 */
    height: 50px;
    justify-content: center;
    letter-spacing: 0.74px; /* TODO typography spec is 0.21px */
    min-width: 84px;
    padding: 0 9px; /* Was 16px - followed spec */
    text-decoration: none;
}

button.homepage:hover {
    background-color: #f5a623; /* TODO review colour */
}

button.homepage:focus {
    outline: none;
}

/* Jumbotron search button */
.jumbotronSearch button.homepage {
    position: absolute;
    right: 0;
    top: 0;
}

/* Stats bar */
.statsBar {
    background: linear-gradient(0deg, #5ABCEF, #3867FA);
}

/* Status */
.statsBar > div > div {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
}

/* Status name - TODO review typography */
.statsBar > div > div p.xs {
    color: #ffffff; /* TODO colour */
    flex: 50%; /* Takes up 50% of container */
    letter-spacing: 3.25px;
    margin: 0 0 -4px;
    text-align: right;
}

/* Status number */
.statsBar > div > div h1 {
    color: #ffffff; /* TODO colour */
    flex: 50%; /* Takes up 50% of container */
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    padding: 0 12px;
    text-align: left;
}

/* Explore */
.explore .wrapper > div {
    position: relative;
}

.explore .exploreText {
    margin-bottom: 32px;
}

/* Explore heading */
.explore h2 {
    margin-bottom: 14px;
    margin-top: 0;
}

/* Explore sub-text */
.explore p.s {
    color: #666666; /* TODO colour */
    line-height: 18px;
    margin-bottom: 0;
    max-width: 336px;
}

/* Data Portal */
.dataPortal {
    background-color: #F4F7F9;
}

/* Data Portal question - "What is it?" */
.dataPortal h4 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Data Portal description */
.dataPortal h1 {
    font-size: 28px;
    line-height: 32px;
    margin: 10px 0; /* TODO review */
    max-width: 650px;
    text-align: center;
}

/* DP Imagery and associated text */
.portalDescription {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 56px;
}

/* Each DP has its own box */
.portalDescription > div {
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
}

/* Arrow */
.portalDescription .dpArrow {
    flex: none; /* Overrides flex: 1 attribute from its own box */
    height: 95px; /* Forces arrow container to be same height as DP images */
    justify-content: center;
    transform: rotate(90deg);
}

/* Top row of each box - image container */
.portalDescription > div > div:first-of-type {
    align-items: center;
    display: flex;
    padding: 0 16px;
    width: 95px;
}

/* Top row of each box - image */
.portalDescription > div > div:first-of-type img, .portalDescription .dpArrow img {
    margin-bottom: 0;
}

/* Second row of each box */
.portalDescription > div > div:nth-of-type(2) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    width: 205px;
}

/* Second row of each box - text description */
.portalDescription > div > div:nth-of-type(2) p.s {
    color: #666666; /* TODO hca-gray-dark review */
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

/* Link */
.portalDescription > div > div:nth-of-type(2) a.s {
    line-height: 18px;
    margin: 0;
    text-align: left;
}

/* Contact heading */
.contact h2 {
    color: #333333; /* TODO colour */
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
}

/* Contact form */
.contactForm {
    align-items: center;
    align-self: stretch; /* To take up full available width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Input fields */
.contactForm input.homepage {
    color: #999999; /* TODO colour */
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 50px;
    margin: 4px 0;
    max-width: 450px;
    padding-left: 16px;
    width: 100%; /* TODO review */
}

.contactForm input.homepage:focus {
    outline: none;
}

/* Submit button */
.contactForm button.homepage {
    background-color: #32C1EE;
    height: 50px;
    margin: 4px 0;
    max-width: 450px;
    width: 100%; /* TODO review */
}

.contactForm button.homepage:hover {
    background-color: #2DAFD7;
}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    /* Explore text */
    .explore .exploreText {
        margin-bottom: 0;
        position: absolute;
        top: 0;
    }

    /* Explore Imagery */
    .explore > div > div:first-of-type {
        margin-bottom: -83px; /* Equal to wrapper padding and 4px container around svg */
        max-width: 650px;
    }

    /* Explore Imagery */
    .explore > div > div:first-of-type {
        margin-bottom: -83px; /* Equal to wrapper padding and 4px container around svg */
        max-width: 650px;
    }

    /* Svg */
    .explore svg {
        width: 650px;
    }
}

/**
 * Medium +
 */
@media screen and (min-width: 1024px) {

    /* Wrapper */
    .wrapper {
        padding: 70px 16px;
    }

    /* Jumbotron */
    .jumbotron {
        background-image: url(../../images/jumbotron/full-size-cell-jumbotron.png);
    }

    /* Jumbotron title */
    .jumbotron h1 {
        font-size: 36px; /* TODO remove when typography */
        line-height: 42px;
    }

    /* Search bar */
    .jumbotronSearch {
        max-width: unset;
        width: 540px; /* TODO review */
    }

    /* Hide jumbotron short search text */
    .jumbotronSearch input.homepage.small {
        display: none;
    }

    /* Show longer search text */
    .jumbotron input.homepage.large {
        display: block;
    }

    /* Stats bar */
    .statsBar {
        background: linear-gradient(90deg, #3867FA, #5ABCEF);
    }

    /* Stats bar - wrapper */
    .statsBar > div {
        flex-direction: row;
        height: 90px;
        padding: 0 30px; /* Equivalent to wrapper - gutter 30px */
    }

    /* Status */
    .statsBar > div > div {
        align-items: center;
        flex-direction: column;
        padding: 0 0;
        width: unset;
    }

    /* Status name */
    .statsBar > div > div p.xs {
        flex: 0;
        text-align: center;
    }

    /* Status number */
    .statsBar > div > div h1 {
        flex: 0;
        text-align: center;
        width: 164px;
    }

    /* Explore Imagery */
    .explore > div > div:first-of-type {
        margin-bottom: -70px; /* Equal to wrapper padding and 4px container around svg */
        max-width: 800px;
    }

    /* Svg */
    .explore svg {
        width: unset;
    }

    /* Data Portal description */
    .dataPortal h1 {
        font-size: 36px;
        line-height: 42px;
        max-width: 800px;
    }

    /* DP Imagery and associated text */
    .portalDescription {
        align-items: flex-start;
        flex-direction: row;
    }

    /* Portal Description */
    .portalDescription > div {
        flex: 1;
        flex-direction: column;
        width: unset;
    }

    /* Top row of each box - image container */
    .portalDescription > div > div:first-of-type {
        height: 95px;
        padding: 0;
        width: unset;
    }

    /* Second row of each box */
    .portalDescription > div > div:nth-of-type(2) {
        max-width: 172px;
        padding: 0;
    }

    /* Second row of each box - text description & link */
    .portalDescription > div > div:nth-of-type(2) p.s, .portalDescription > div > div:nth-of-type(2) a.s {
        margin: 12px 0 0;
        text-align: center;
        width: 100%;
    }

    /* Arrow */
    .portalDescription .dpArrow {
        transform: rotate(0deg);
    }

    /* Contact form */
    .contactForm {
        flex-direction: row;
        margin: 6px 0;
    }

    /* Input fields */
    .contactForm input.homepage {
        margin: 0 4px;
        width: 308px; /* TODO review */
    }

    /* Submit button */
    .contactForm button.homepage {
        margin: 0 4px;
        width: 152px;
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        padding: 70px 30px;
    }
}

