/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal home component.
 */

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px; /* Snap to 1200px, gutter 30px */
    padding: 60px 30px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../../images/jumbotron/small-cell-jumbotron.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Jumbotron title */
h1 {
    font-size: 36px; /* TODO remove when typography */
    text-align: center;
}

/* Jumbotron search bar */
.jumbotronSearch {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin: 50px auto 0; /* TODO review */
    width: 60%; /* TODO review */
}

/* Jumbotron search text */
.jumbotronSearch span {
    color: #9B9B9B;
    font-size: 1rem;
    line-height: 1rem;
    overflow: hidden;
    padding: 0 16px;
    white-space: nowrap;
}

/* Jumbotron - hide longer search text */
.jumbotronSearch .longSearchText {
    display: none;
}

/* Jumbotron search button */
.jumbotronSearch .button {
    align-items: center;
    background-color: #f5a623;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: calc(100% + 2px); /* 2px to hide search box border of 1px top and bottom */
    letter-spacing: 0.74px;
    margin-right: -1px; /* Moves button over RHS of search bar border */
    padding: 0 16px;
    text-decoration: none;
}

/* Stats bar */
.statsBar {
    background: linear-gradient(0deg, #5ABCEF, #3867FA);
}

/* Status */
.statsBar > div > div {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 0;
}

/* Status name - TODO review typography */
.statsBar > div > div p {
    color: #ffffff;
    flex: 50%; /* Takes up 50% of container */
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 3.25px;
    line-height: 0.9375rem;
    margin: 0 0 -4px;
    text-align: right;
}

/* Status number */
.statsBar > div > div span {
    color: #ffffff;
    flex: 50%; /* Takes up 50% of container */
    font-size: 2.25rem;
    font-weight: 500;
    padding: 0 12px;
    text-align: left;
}

/* Explore heading */
.explore h2 {
    align-self: flex-start;
}

/* Explore sub-text */
.explore > div p {
    align-self: flex-start;
    font-size: 14px;
    max-width: 260px;
}

/* Explore Imagery */
.explore > div > div {
    align-items: baseline;
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}

.explore > div > div img {
    margin-bottom: 0px;
    width: 80%;
}

/* Data Portal */
.dataPortal {
    background-color: #F5F7F9;
}

/* Data Portal question - "What is it?" */
.dataPortal > p {
    color: rgba(0, 0, 0, 1); /* TODO Confirm */
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1rem;
}

/* Data Portal description */
.dataPortal h1 {
    text-align: center;
}

/* DP Imagery and associated text */
.portalDescription {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 56px;
}

/* Each DP has its own box */
.portalDescription > div {
    align-items: center;
    display: flex;
    flex: 1; /* Each box is equal in width */
    flex-direction: column;
}

/* Arrow */
.portalDescription .dpArrow {
    flex: none; /* Overrides flex: 1 attribute from its own box */
    height: 95px; /* Forces arrow container to be same height as DP images */
    justify-content: center;
    transform: rotate(90deg);
}

/* Top row of each box - image container */
.portalDescription > div > div {
    align-items: center;
    display: flex;
    height: 95px;
}

/* Top row of each box - image */
.portalDescription > div > div img, .portalDescription .dpArrow img {
    margin-bottom: 0;
}

/* Second row of each box - text description */
.portalDescription > div p {
    font-size: 14px;
    font-weight: 500;
    margin: 12px 0 0;
    max-width: 224px;
    text-align: center;
}

/* Link */
.portalDescription > div p a {
    color: #468EE5;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
}

/* Contact heading */
.contact h2 {
    color: #4a4a4a; /* hca-color-text */
    text-align: center;
}

/* Contact form */
.contactForm {
    align-items: center;
    align-self: stretch; /* To take up full available width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Input fields */
.contactForm > div {
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 50px;
    margin: 4px 0;
    width: 60%; /* TODO review */
}

/* Input text */
.contactForm span {
    color: #9B9B9B;
    font-size: 1rem;
    line-height: 46px; /* Centers input text */
    padding-left: 16px;
}

/* Submit button */
.contactForm .button {
    align-items: center;
    background-color: #32C1EE;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 52px; /* Required to match height of input boxes - includes top and bottom border */
    justify-content: center;
    letter-spacing: 0.74px;
    margin: 4px 0;
    padding: 0 16px;
    width: 60%; /* TODO review */
}

/**
 * Large
 */
/* $md-tablet-portrait-lg-min: 840px; */
@media screen and (min-width: 840px) {

    /* Wrapper */
    .wrapper {
        padding: 100px 30px;
    }

    /* Jumbotron */
    .jumbotron {
        background-image: url(../../images/jumbotron/full-size-cell-jumbotron.png);
    }

    /* Search bar */
    .jumbotronSearch {
        width: 60%;
    }

    /* Hide short search text */
    .jumbotronSearch .shortSearchText {
        display: none;
    }

    /* Show longer search text */
    .jumbotronSearch .longSearchText {
        display: block;
    }

    /* Stats bar */
    .statsBar {
        background: linear-gradient(90deg, #3867FA, #5ABCEF);
    }

    /* Stats bar - wrapper */
    .statsBar > div {
        flex-direction: row;
        height: 90px;
        padding: 0 30px; /* Equivalent to wrapper - gutter 30px */
    }

    /* Status */
    .statsBar > div > div {
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }

    /* Status name */
    .statsBar > div > div p {
        flex: 0;
        text-align: center;
    }

    /* Status number */
    .statsBar > div > div span {
        flex: 0;
        text-align: center;
        width: 164px;
    }

    /* Explore heading and text */
    .explore h2, .explore > div p {
        padding-left: 60px;
    }

    /* Explore Imagery */
    .explore > div > div {
        margin-bottom: -100px;
    }

    /* DP Imagery and associated text */
    .portalDescription {
        align-items: flex-start;
        flex-direction: row;
    }

    /* Second row of each box - text description */
    .portalDescription > div p {
        max-width: 172px;
    }

    /* Arrow */
    .portalDescription .dpArrow {
        transform: rotate(0deg);
    }

    /* Contact form */
    .contactForm {
        flex-direction: row;
        margin: 6px 0;
    }

    /* Input fields */
    .contactForm > div {
        margin: 0 4px;
        width: 35%; /* TODO review */
    }

    /* Submit button */
    .contactForm .button {
        margin: 0 4px;
        min-width: 152px;
        width: 0;
    }
}

