/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal home component.
 */

.homepage p {
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 18px;
}

.homepage h1 {
    font-size: 34px;
    line-height: 38px;
    margin: 28px 0 6px;
}

.homepage h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 34px 0 36px;
}

.homepage h4 {
    font-size: 16px;
    line-height: 22px;
    margin: 14px 0 16px;
}

/* P - class "s" */
.homepage p.s {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 18px;
}

/* P - class "xs" */
.homepage p.xs {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 16px;
}

/* Link */
.homepage a {
    color: #1c7cc7; /* TODO colour */
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 18px;
    text-decoration: none;
}

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px; /* Snap to 1200px, gutter 16px */
    padding: 30px 16px;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../../images/jumbotron/jumbotron-cell-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Jumbotron wrapper */
.jumbotron .wrapper {
    padding: 32px 16px 70px;
}

/* Jumbotron title */
.jumbotron h1 {
    margin: 0;
    max-width: 80%;
    text-align: center;
}

/* Learn more link */
.jumbotron .wrapper > a {
    color: #000000; /* TODO colour */
    margin: 10px 0 24px;
    text-decoration: none;
}

.jumbotron .wrapper > a .xs {
    font-weight: 500 !important;
    margin: 0;
    text-transform: uppercase;
}

/* Stats bar */
.statsBar {
    background: linear-gradient(90deg, #3867FA, #5ABCEF);
}

/* Stats bar - wrapper */
.statsBar > div {
    flex-direction: row;
    height: 90px;
    padding: 0 16px; /* Equivalent to wrapper - gutter 16px */
}

/* Status - show Cells, Organs, Donors only */
.statsBar > div > div {
    align-items: center;
    display: flex;
    flex-basis: calc(100% / 3);
    flex-direction: column;
    justify-content: center;
}

/* Status - hide Projects, Labs */
.statsBar > div > div:nth-of-type(n + 4) {
    display: none;
}

/* Status name - TODO review typography */
.statsBar > div > div p.xs {
    color: #ffffff; /* TODO colour */
    letter-spacing: 3.25px;
    margin: 0 0 -4px;
}

/* Status number */
.statsBar > div > div h1 {
    color: #ffffff; /* TODO colour */
    font-size: 36px; /* TODO confirm */
    line-height: 42px; /* TODO confirm */
    margin: 0;
    min-height: 42px;
    opacity: 0;
    padding: 0 12px;
    text-align: center;
}

.statsBar.loaded > div > div h1 {
    transition: opacity 0.5s ease 0s;
    opacity: 1;
}

/* Explore */
.explore .wrapper > div {
    position: relative;
}

.explore .exploreText {
    margin-bottom: 32px;
}

/* Explore heading */
.explore h2 {
    margin-bottom: 14px;
    margin-top: 0;
}

/* Explore sub-text */
.explore p.s {
    color: #666666; /* TODO colour */
    line-height: 18px;
    margin-bottom: 0;
    max-width: 336px;
}

/* Explore svg placeholder */
.explore .explorePlaceholder {
    display: none;
}

/* Data Portal */
.dataPortal {
    background-color: #F4F7F9;
}

/* Data Portal question - "What is it?" */
.dataPortal h4 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Data Portal description */
.dataPortal h1 {
    font-size: 28px;
    line-height: 32px;
    margin: 10px 0; /* TODO review */
    max-width: 650px;
    text-align: center;
}

/* DP Imagery and associated text */
.portalDescription {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 56px;
}

/* Each DP has its own box */
.portalDescription > div {
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100%;
}

/* Arrow */
.portalDescription .dpArrow {
    flex: none; /* Overrides flex: 1 attribute from its own box */
    height: 95px; /* Forces arrow container to be same height as DP images */
    justify-content: center;
    transform: rotate(90deg);
}

/* Top row of each box - image container */
.portalDescription > div > div:first-of-type {
    align-items: center;
    display: flex;
    padding: 0 16px;
    width: 95px;
}

/* Top row of each box - image */
.portalDescription > div > div:first-of-type img, .portalDescription .dpArrow img {
    margin-bottom: 0;
}

/* Second row of each box */
.portalDescription > div > div:nth-of-type(2) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px;
    width: 205px;
}

/* Second row of each box - text description */
.portalDescription > div > div:nth-of-type(2) p.s {
    color: #666666; /* TODO hca-gray-dark review */
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

/* Link */
.portalDescription > div > div:nth-of-type(2) a.s {
    line-height: 18px;
    margin: 0;
    text-align: left;
}

/* Contact heading */
.contact h2 {
    color: #333333; /* TODO colour */
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
}

/* Contact form */
.contactForm {
    align-items: center;
    align-self: stretch; /* To take up full available width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Contact form button - class homepage */
.contactForm a.homepage {
    align-items: center;
    background-color: #00D0F4; /* TODO colour */
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff; /* TODO colour */
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px;
    font-weight: 500; /* TODO typography - confirm - was 600 */
    height: 50px;
    justify-content: center;
    letter-spacing: 0.74px; /* TODO typography spec is 0.21px */
    margin: 4px 0;
    min-width: 84px;
    padding: 0 9px; /* Was 16px - followed spec */
    text-decoration: none;
    text-transform: uppercase;
}

.contactForm a.homepage:hover {
    background-color: #00B7DB;
}

.contactForm a.homepage:focus {
    outline: none;
}

/**
 * Mobile landscape
 */
@media screen and (min-width: 667px) {

    /* Jumbotron */
    .jumbotron {
        background-image: url(../../images/jumbotron/jumbotron-cell.png);
    }

    /* Jumbotron wrapper */
    .jumbotron .wrapper {
        padding: 70px 16px;
    }

    /* Status */
    .statsBar > div > div {
        flex-basis: unset;
    }

    /* Status - show Projects, Labs */
    .statsBar > div > div:nth-of-type(n + 4) {
        display: flex;
    }

    /* Status number */
    .statsBar > div > div h1 {
        width: 110px;
    }

}

/**
 * Tablet +
 */
@media screen and (min-width: 768px) {

    /* Jumbotron */
    .jumbotron {
        background-image: url(../../images/jumbotron/jumbotron-cell.png);
    }

    .jumbotron h1 {
        font-size: 40px; /* Hero homepage font-size */
        line-height: 46px;
    }

    /* Explore text */
    .explore .exploreText {
        margin-bottom: 0;
        position: absolute;
        top: 0;
    }

    /* Explore Imagery */
    .explore > div > div:first-of-type {
        margin-bottom: -84px; /* Equal to wrapper padding and svg re-sized to 650px */
        max-width: 650px;
    }

    /* Svg */
    .explore svg {
        width: 650px;
    }

    /* Svg placeholder */
    .explore .explorePlaceholder {
        display: block;
        height: unset;
        margin-bottom: 54px;
        margin-top: 52px; /* svg is 463px high, but 54px positioned below content, leaving 52px of height at top unaccounted for in img */
        width: 650px;
    }
}

/**
 * Medium +
 */
@media screen and (min-width: 1024px) {

    /* Wrapper */
    .wrapper {
        padding: 70px 16px;
    }

    /* Jumbotron title */
    .jumbotron h1 {
        max-width: unset;
    }

    /* Status number */
    .statsBar > div > div h1 {
        width: 164px;
    }

    /* Explore Imagery */
    .explore > div > div:first-of-type {
        margin-bottom: -70px; /* Equal to wrapper padding */
        max-width: 800px;
    }

    /* Svg */
    .explore svg {
        width: unset;
    }

    /* Svg placeholder */
    .explore .explorePlaceholder {
        margin: 0;
        max-width: 841px;
        width: unset;
    }

    /* Data Portal description */
    .dataPortal h1 {
        font-size: 34px; /* h1 specification - override mobile */
        line-height: 38px; /* h1 specification - override mobile */
        max-width: 800px;
    }

    /* DP Imagery and associated text */
    .portalDescription {
        align-items: flex-start;
        flex-direction: row;
    }

    /* Portal Description */
    .portalDescription > div {
        flex: 1;
        flex-direction: column;
        width: unset;
    }

    /* Top row of each box - image container */
    .portalDescription > div > div:first-of-type {
        height: 95px;
        padding: 0;
        width: unset;
    }

    /* Second row of each box */
    .portalDescription > div > div:nth-of-type(2) {
        max-width: 172px;
        padding: 0;
    }

    /* Second row of each box - text description & link */
    .portalDescription > div > div:nth-of-type(2) p.s, .portalDescription > div > div:nth-of-type(2) a.s {
        margin: 12px 0 0;
        text-align: center;
        width: 100%;
    }

    /* Arrow */
    .portalDescription .dpArrow {
        transform: rotate(0deg);
    }

    /* Contact form */
    .contactForm {
        flex-direction: row;
        margin: 6px 0;
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        padding: 70px 30px;
    }

    /* Stats bar - wrapper */
    .statsBar > div {
        padding: 0 30px; /* Equivalent to wrapper - gutter 30px */
    }
}

