/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal home component.
 */

.jumbotron {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* For jumbotron image */
    padding: 73px 0 68px;
    position: relative;
}

/* Jumbotron image - cropped image for small screens */
.jumbotron img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.jumbotron .largeImg {
    display: none;
}

/* Jumbotron title */
h1 {
    font-size: 36px; /* TODO remove when typography */
    text-align: center;
}

/* Jumbotron search bar */
.jumbotronSearch {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 50px;
    width: 60%; /* TODO review */
}

/* Jumbotron search text */
.jumbotronSearch span {
    color: #9B9B9B;
    font-size: 1rem;
    line-height: 1rem;
    overflow: hidden;
    padding: 0 16px;
    white-space: nowrap;
}

/* Jumbotron - hide longer search text */
.jumbotronSearch .longSearchText {
    display: none;
}

/* Jumbotron search button */
.jumbotronSearch .button {
    align-items: center;
    background-color: #f5a623;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: calc(100% + 2px); /* 2px to hide search box border of 1px top and bottom */
    letter-spacing: 0.74px;
    margin-right: -1px; /* Moves button over RHS of search bar border */
    padding: 0 16px;
}

/* Stats bar */
.statsBar {
    background: linear-gradient(0deg, #5ABCEF, #3867FA);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
}

/* Status */
.statsBar > div {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px 0;
}

/* Status name - TODO review typography */
.statsBar > div p {
    color: #ffffff;
    flex: 50%; /* Takes up 50% of container */
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 3.25px;
    line-height: 0.9375rem;
    margin: 0 0 -4px;
    text-align: right;
}

/* Status number */
.statsBar > div span {
    color: #ffffff;
    flex: 50%; /* Takes up 50% of container */
    font-size: 2.25rem;
    font-weight: 500;
    padding: 0 12px;
    text-align: left;
}

/* Explore */
.explore {
    padding: 50px 0;
}

/* Person Imagery */
.explore > div {
    align-items: baseline;
    display: flex;
    justify-content: center;
}

.explore > div img {
    padding: 0 8px;
}

.explore > div img:nth-of-type(3) {
    align-self: flex-start;
    height: 260px;
    margin: 30px 0 0 34px;
}

/* Data Portal */
.dataPortal {
    align-items: center;
    background-color: #F5F7F9;
    display: flex;
    flex-direction: column;
    padding: 80px 0 95px;
}

/* Data Portal question - "What is it?" */
.dataPortal > p {
    color: rgba(0, 0, 0, 1); /* Confirm */
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1rem;
//max-width: 80%; /* Forces L and R spacing around paragraph */ text-align: center; text-transform: uppercase;
}

/* Data Portal description */
.dataPortal h1 {
    margin-top: 16px;
//max-width: 80%; /* Forces L and R spacing around paragraph */ text-align: center;
}

/* DP Imagery and associated text */
.portalDescription {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

/* Each DP has its own box */
.portalDescription > div {
    align-items: center;
    display: flex;
    flex: 1; /* Each box is equal in width */
    flex-direction: column;
}

/* Arrow */
.portalDescription .dpArrow {
    flex: 0; /* Overrides flex: 1 attribute from its own box */
    height: 95px; /* Forces arrow container to be same height as DP images */
    justify-content: center;
    transform: rotate(90deg);
}

/* Top row of each box - image */
.portalDescription > div > div {
    align-items: center;
    display: flex;
    height: 95px;
}

/* Second row of each box - text description */
.portalDescription > div p {
    max-width: 170px;
    text-align: center;
}

/* Link */
.portalDescription > div p a {
    display: block;
}

/* Contact */
.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 45px 0 54px;
}

.contact h2 {
    color: #4a4a4a; /* hca-color-text */
    max-width: 80%;
    text-align: center;
}

/* Contact form */
.contactForm {
    align-items: center;
    align-self: stretch; /* To take up full available width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* Input fields */
.contactForm > div {
    border: 1px solid #cccccc;
    border-radius: 3px;
    height: 50px;
    margin: 4px 0;
    width: 80%;
}

/* Input text */
.contactForm span {
    color: #9B9B9B;
    font-size: 1rem;
    line-height: 46px; /* Centers input text */
    padding-left: 16px;
}

/* Submit button */
.contactForm .button {
    align-items: center;
    background-color: #32C1EE;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    height: 52px; /* Required to match height of input boxes - includes top and bottom border */
    justify-content: center;
    letter-spacing: 0.74px;
    margin: 4px 0;
    padding: 0 16px;
//width: calc(80% - 32px); /* Mimics width of input fields */ width: 80%;
}

/**
 * Small +
 */
/* $md-sm-min: 600px; */
@media (min-width: 600px) {

    /* Hide smaller cropped image */
    .jumbotron .smallImg {
        display: none;
    }

    /* Show full image */
    .jumbotron .largeImg {
        display: block;
    }
}

/**
 * Large
 */
/* $md-tablet-portrait-lg-min: 840px; */
@media screen and (min-width: 840px) {

    /* Jumbotron image */
    .jumbotron img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        z-index: -1;
    }

    /* Search bar */
    .jumbotronSearch {
        width: 50%;
    }

    /* Hide short search text */
    .jumbotronSearch .shortSearchText {
    //display: none;
    }

    /* Show longer search text */
    .jumbotronSearch .longSearchText {
    //display: block;
    }

    /* Stats bar */
    .statsBar {
        background: linear-gradient(90deg, #3867FA, #5ABCEF);
        flex-direction: row;
        height: 74px;
        padding: 0 0;
    }

    /* Status */
    .statsBar > div {
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }

    /* Status name */
    .statsBar > div p {
        flex: 0;
        text-align: center;
    }

    /* Status number */
    .statsBar > div span {
        flex: 0;
        text-align: center;
        width: 124px;
    }

    /* DP Imagery and associated text */
    .portalDescription {
        align-items: flex-start;
        flex-direction: row;
    }

    /* Arrow */
    .portalDescription .dpArrow {
        transform: rotate(0deg);
    }

    /* Contact form */
    .contactForm {
        flex-direction: row;
        margin: 6px 0;
    }

    /* Input fields */
    .contactForm > div {
        margin: 0 4px;
        width: 30%;
    }

    /* Submit button */
    .contactForm .button {
        margin: 0 4px;
        min-width: 118px; /* Total min width 150px including padding */
        width: 0;
    }
}

