/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * HCA Data Portal anchor component.
 */
@import '../../styles/vars.module.css';

/* Anchor wrapper */
.anchor {
	float: left;
	height: inherit;
	line-height: inherit;
	margin-left: -20px;
	padding-right: 4px;
}

/* Compressed. */
.anchor.s {
    margin-left: -16px;
}

/* Compressed - svg. */
.anchor.s svg {
    height: 12px;
    width: 12px;
}

/* Anchor typically hidden */
.anchor svg {
	visibility: hidden;
}

/* Show anchor on hover/focus */
h1:hover .anchor svg, h2:hover .anchor svg, h3:hover .anchor svg, h4:hover .anchor svg, h5:hover .anchor svg, h6:hover .anchor svg, span:hover .anchor svg, h1 .anchor:focus svg, h2 .anchor:focus svg, h3 .anchor:focus svg, h4 .anchor:focus svg, h5 .anchor:focus svg, h6 .anchor:focus svg, span:focus .anchor svg {
	visibility: visible;
}
