/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the search browser component.
 */
@import "../../styles/vars.module.css";

/* Section */
.searchBrowser {
  background: url("../../../images/cell/searchBrowser.png") right / cover
    no-repeat;
  padding: 56px 0;
}

/* Section - inner */
.searchBrowser .sectionInner {
  align-items: center;
  flex-direction: column; /* Overrides global flex direction row */
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {
  /* Section - inner */
  .searchBrowser .sectionInner {
    flex-direction: row;
  }
}
