/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to HCA Data Portal search form component.
 */

/* Form. */
.form {
  display: inline-flex;
  margin: 0;
  position: relative; /* Positions search icon and search actions. */
  width: 100%; /* Takes up all available width. */
}
