/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal header component.
 */

/* Nav bar container */
.navBar {
    background-color: #ffffff; /* TODO colour */
    //background: linear-gradient(140deg, #03071A 0%, #0B1339 41%, #0E1948 60%, #131F5A 84%, #13205D 87%, #142263 87%, #091962 100%);
    //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #CCCCCC; /* TODO colour */
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px; /* Gutter 16px */
}

/* Logo */
a.logo, a.logo img {
    align-self: center;
    cursor: pointer;
    line-height: 0 !important;
    margin-bottom: 0 !important; /* TODO review global */
}

/* Nav links */
.links:not(.small) {
    display: none;
}

/* Show nav links for small view */
.links.small {
    align-items: flex-start;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC; /* TODO hca-gray-light */;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    padding-bottom: 12px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    z-index: 100;
}

/* Nav links */
.links a, .links.small a {
    align-items: flex-start;
    color: #000000; /* TODO colour */
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 13px; /* TODO review with typography */
    font-weight: 600; /* TODO review with typography */
    letter-spacing: 1.2px; /* TODO typography */
    line-height: 32px; /* TODO typography */
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

/* Nav links - subtitle */
.links a span:nth-of-type(2) {
        color: #000000; /* TODO colour */
        font-size: 12px; /* TODO review with typography */
        font-weight: 400; /* TODO review with typography */
        letter-spacing: 1.2px;
        line-height: 24px; /* TODO typography */
        margin-top: -8px;
        text-transform: none;
}

/* Nav links - active */
.links .active {
    color: #000000; /* TODO colour */
}

/* Nav links - hover */
.links a:hover {
    color: #000000; /* TODO colour */
}

.hcaNavOverlay {
    background-color: rgba(255, 255, 255, 0.9); /* TODO colour */
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 99; /* Positioned below showLinks */
}

/* User menu, Menu */
.userDropDown, .menuDropDown {
    align-items: center;
    color: #ffffff; /* TODO colour - change to 666666 $hca-gray-dark when implement */
    cursor: pointer;
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 14px; /* TODO typography */
    font-weight: 500; /* TODO typography - confirm - variations */
    display: flex;
}

/* Drop down menu icon */
.userDropDown::after, .menuDropDown::before {
    color: #ffffff; /* TODO colour - change to 666666 $hca-gray-dark when implement */
    content: "\E313";
    font-family: "Material Icons";
    font-size: 18px; // HCA specific
    font-weight: 400;
    margin: 0 4px;

}

/* Hide user menu */
.userDropDown, .userDropDown::after {
    display: none;
}

.menuDropDown, .menuDropDown::before {
    color: #000000; /* TODO typography */
}

.menuDropDown::before {
    color: #666666; /* TODO typography hca-gray-dark */
}

/**
 * Large
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px; /* Gutter 30px */
    }

    .links.small, .hcaNavOverlay {
        display: none;
    }

    .links:not(.small) {
        display: flex;
    }

    /* Nav links */
    .links a {
        color: #666666; /* TODO colour */
        padding: 0 12px;
    }

    /* Hide menu */
    .menuDropDown, .menuDropDown::before {
        display: none;
    }

    /* Show user menu */
    .userDropDown {
        display: flex;
    }

    .userDropDown::after {
        display: block;
    }
}



