/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal header component.
 */

/* Nav bar container */
.navBar {
    align-items: center;
    background: linear-gradient(140deg, #03071A 0%, #0B1339 41%, #0E1948 60%, #131F5A 84%, #13205D 87%, #142263 87%, #091962 100%);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin-bottom: 1.45rem;
    padding: 0 24px;
}

/* Logo */
.logo {
    align-self: center;
    color: #ffffff;
}

/* Nav links */
.links a {
    color: #ffffff;
    margin: 0 16px;
    text-decoration: none;
    text-transform: capitalize;
}

.links .active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 2px;
}

/* User menu */
.menuDropDown {
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: flex;
}

/* Drop down icon */
.menuDropDown::after {
    color: #BFD0FA;
    content: "\E5C5";
    font-family: "Material Icons";
    font-size: 1.5rem;
}


