/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal layout component.
 */

/* Site */
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Menu open - no scroll */
.site.noScroll {
    left: 0;
    position: fixed;
    right: 0;
}
