/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA explore data component.
 */

.exploring {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
}
