/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA explore diagram component.
 */

.humanBody {
	display: none;
}

svg.humanBody {
	height: 715px;
}

/* Hide organ */
svg.humanBody [id^="path"] {
	opacity: 0;
}

/* Show organ */
svg.humanBody [id^="path"].active {
	opacity: 1;
}

/* Transition */
svg.humanBody [id^="path"], svg.humanBody [id^="path"].active {
	transition: opacity 0.25s ease;
}

/**
 * Small +
 * https://material.io/design/layout/responsive-layout-grid.html#breakpoints
 */
@media screen and (min-width: 960px) {

	.humanBody {
		display: block;
	}
}


