/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal explore stats svg component.
 */

.exploreStats ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.exploreStats li {
	display: flex;
}

.exploreStats li:first-child {
	font-weight: 600;
}

.exploreStats li div:first-child {
	flex: 1;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	.exploreStats {
		display: none;
	}
}
