/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal explore svg component.
 */
@import '../../../src/styles/vars.module.css';

svg.explorePerson {
	display: none;
}

.active {
	cursor: pointer;
	fill: var(--primary);
	transition: all 0.75s ease 0s;
}

.active polygon, .active rect {
	fill: var(--primary);
	transition: all 0.75s ease 0s;
}

.active text {
	opacity: 1;
	transition: all 0.75s ease 0s;
}

.hidden {
	display: none;
}

[id^="count"] {
	opacity: 0;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	svg.explorePerson {
		display: block;
	}
}
