/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal explore svg component.
 */

svg.explorePerson {
    display: none;
}

.active {
    fill: #1288e4;
    transition: all 0.75s ease 0s;
}

.active polygon, .active rect {
    fill: #1288e4;
    transition: all 0.75s ease 0s;
}

.active text {
    opacity: 1;
    transition: all 0.75s ease 0s;
}

[id^="count"] {
    opacity: 0;
}

/**
 * Medium +
 */
@media screen and (min-width: 768px) {

    svg.explorePerson {
        display: block;
    }
}
