/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal checkbox component.
 */

/* Checkbox - container. */
.checkbox {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 8px;
}

/* Checkbox - last. */
.checkbox:last-of-type {
    margin-bottom: 0;
}

/* Checkbox - inactive and zero count. */
.checkbox:not(.active).disabled {
    color: var(--gray-light);
    cursor: default;
    pointer-events: none;
}

/* Checkbox - active and zero count. */
.checkbox.active.disabled {
    color: var(--gray-medium);
}

/* Check. */
.checkbox .check {
    border: 1px solid var(--gray-light);
    border-radius: 2px;
    box-sizing: content-box;
    flex: none;
    height: 13px;
    position: relative; /* Positions icon */
    width: 13px;
}

/* Check - active. */
.checkbox.active .check {
    background-color: var(--primary);
    border-color: var(--blue-darkest);
    opacity: 1;
    transition: all 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Check - inactive and zero count. */
.checkbox:not(.active).disabled .check {
    border: 1px solid var(--gray-lightest);
}

/* Check - active and zero count. */
.checkbox.active.disabled .check {
    background-color: var(--gray-light);
    border: 1px solid var(--gray-medium);
}

/* Icon. */
.checkbox .icon {
    color: var(--white);
    cursor: inherit;
    font-size: 13px !important;
    opacity: 1;
    position: absolute;
    transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Inactive - hide icon. */
.checkbox:not(.active) .icon {
    opacity: 0;
}

/* Label. */
.label {
    margin-left: 12px;
}

/* Count. */
.count {
    flex: 1;
    padding-left: 8px;
    text-align: right;
}

/* Label, count. */
.label, .count {
    font-size: 12px;
    font-weight: 300;
    line-height: 15px; /* Required to equal checkbox height for alignment when label wraps. Was 16px. */
}

.check, .icon, .label {
    pointer-events: none;
}
