/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal section component.
 */

/* Section heading */
.hcaSectionHeading {
	align-items: center;
	display: flex;
	flex: 1;
	height: 76px;
	padding: 16px 0;
	margin: 0;
	width: 100%;
}
