/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata detail component.
 */
@import '../../styles/vars.module.css';

/* Detail */
.metadataDetail {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
}

.metadataDetail.byGroup {
	margin: 8px 0 16px;
}

.metadataDetail span {
	margin: 0;
}

/* Required field '*' */
.metadataDetail > span:first-of-type > span {
	padding-left: 1px;
}

/* Path */
.metadataDetail .unFriendly {
	display: flex;
	flex-wrap: wrap;
}

/* Type */
.metadataDetail .type {
	color: var(--gray-dark);
}

.metadataDetail:not(.byGroup) .type {
	padding-bottom: 8px;
}

/* Type - metadata group reference */
.metadataDetail.byGroup .type {
	font-size: 11px;
	padding-left: 8px;
}

/* Description - metadata group reference */
.metadataDetail.byGroup .description {
	font-weight: 300;
	color: var(--gray-dark);
	padding: 4px 0 16px;
	position: relative; /* Positions line separator */
}

/* Metadata group reference - line separator */
.metadataDetail.byGroup .description:after {
	background-color: var(--secondary);
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	width: 42px;
}

/* Description, example */
.metadataDetail .description, .metadataDetail .example {
	padding-bottom: 4px;
}

/* Description links */
.metadataDetail .description a {
	font: inherit;
	word-break: break-all;
}

