/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata row component.
 */
@import '../../styles/vars.module.css';

/* Row */
.metadataRow {
	align-items: flex-start;
	display: flex;
	padding: 8px 0;
}

.nested.metadataRow {
	padding: 2px 0;
}

/* Label */
.metadataName {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	min-width: 160px;
	padding-right: 8px;
	position: relative; /* To position required field tooltip */
	width: 30%;
}

.metadataRow span {
	margin: 0;
}

.metadataRow.nested span {
	color: var(--gray-dark);
}

/* Type */
.metadataRow span.type {
	font-size: 11px;
}

/* Description */
.metadataRow > span {
	width: 70%;
}

/* Required field '*' */
.metadataName > span > span {
	padding-left: 1px;
}

/* Description links */
.metadataRow > span a {
	font: inherit;
	word-break: break-all;
}
