/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata detail component.
 */

.metadata {
	margin: 0 -16px;
}

.metadata > div {
	margin-bottom: 24px;
}

/**
 * HCA specific breakpoint
 */
@media screen and (min-width: 768px) {

	.metadata {
		margin: 0;
	}
}


