/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata row component.
 */
@import '../../styles/vars.module.css';

/* Row */
.metadataRow {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding-bottom: 16px;
	position: relative; /* Positions <MetadataReference> */
	width: 100%;
}

.metadataRow.groupEnd {
	margin-bottom: 16px;
	padding-bottom: 0;
}

.metadataRow.groupEnd + .metadataRow.groupBegin {
	margin-top: 32px;
}

