/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata reference component.
 */
@import '../../styles/vars.module.css';

.metadataGroup {
	border-left: 1px solid var(--secondary);
	display: none;
	height: 100%;
	left: 100%;
	margin-left: 8px;
	max-width: calc(((100vw - 1140px) / 2) + (1140px - 290px - 640px - 8px)); /* Padding, nav, content */
	position: absolute;
	width: 100%;
}

/**
 * Large +
 * HCA custom breakpoint
 */
@media screen and (min-width: 1200px) {

	.metadataGroup {
		display: block;
	}
}

