/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata detail component.
 */
@import '../../styles/vars.module.css';

/* Detail */
.metadataDetail {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
	width: 100%; /* Required for copy to clipboard hover state */
}

.metadataDetail.byGroup {
	margin: 8px 0 16px;
}

.metadataDetail span {
	margin: 0;
}

/* Required field '*' */
.metadataDetail > span:first-of-type > span {
	padding-left: 1px;
}

/* Path */
.metadataDetail .unFriendly, .metadataDetail .unFriendly span {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.metadataDetail:hover .unFriendly {
	cursor: pointer;
}

/* Copy to clipboard */
.metadataDetail i {
	color: var(--gray-light);
	cursor: pointer;
	font-size: 14px;
	height: 14px;
	margin-left: 6px;
	opacity: 0;
}

/* Copy to clipboard - hover */
.metadataDetail:hover i {
	opacity: 1;
}

/* Type */
.metadataDetail .type {
	color: var(--gray-dark);
}

.metadataDetail:not(.byGroup) .type {
	padding-bottom: 8px;
}

/* Type - metadata group reference */
.metadataDetail.byGroup .type {
	font-size: 11px;
	padding-left: 8px;
}

/* Description - metadata group reference */
.metadataDetail.byGroup .description {
	font-weight: 300;
	color: var(--gray-dark);
	padding: 4px 0 16px;
	position: relative; /* Positions line separator */
}

/* Metadata group reference - line separator */
.metadataDetail.byGroup .description:after {
	background-color: var(--secondary);
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	width: 42px;
}

/* Description, example */
.metadataDetail .description, .metadataDetail .example {
	padding-bottom: 4px;
}

/* Description links */
.metadataDetail .description a {
	font: inherit;
	word-break: break-all;
}
