/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata component.
 */
@import '../../styles/vars.module.css';

.metadata h3 {
	margin-top: 48px;
}

/* Element */
.metadataElement {
	border-bottom: 1px solid var(--gray-light);
}

/* Nested element */
.nested {
	background-color: var(--black1);
	border: 1px dashed var(--gray-lightest);
	border-radius: 4px;
	margin: 0 -8px 16px;
	padding: 8px 8px;
}

