/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata search close button wrapper component.
 */

/* Search close. */
.searchClose {
  display: inline-flex;
  position: absolute;
  right: calc(var(--gutter-x) - 8px);
  top: 50%;
  transform: translateY(-50%);
}
