/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal nav overview component.
 */

/* Nav overview container */
.hcaNavOverview {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/* Nav information */
.hcaNavInfo {
	display: flex;
	flex-direction: column;
	margin: 16px 0;
	width: 100%;
}

/* Heading & link */
.hcaNavInfo h3, .hcaNavInfo a {
	margin: 0;
}

/* Paragraph */
.hcaNavInfo p {
	margin: 8px 0;
}

/**
 * Tablet
 */
@media screen and (min-width: 768px) {

	/* Nav information */
	.hcaNavInfo {
		flex-basis: calc((100% - 32px) / 2);
	}

	/* Left flex - right margin */
	.hcaNavInfo:nth-child(odd) {
		margin-right: 32px;
	}
}

/**
 * Medium
 */
@media screen and (min-width: 1024px) {

	/* Nav information */
	.hcaNavInfo {
		flex-basis: calc((100% - 60px) / 3);
		margin: 16px 0 !important;
	}

	/* Middle flex - left and right margin */
	.hcaNavInfo:nth-child(3n+2) {
		margin: 16px 30px !important;
	}
}


