/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal footer component.
 */

/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 1); /* TODO colour */
}

/* Wrapper */
.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0;
}

/* Logo and back arrow */
.logo {
    margin: 0;
    position: relative;
}

/* Back arrow */
.logo i {
    color: #ffffff; /* TODO colour */
    cursor: pointer;
    font-size: 24px;
    left: -24px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Logo image */
.logo img {
    cursor: pointer;
    margin-bottom: 0;
    padding: 12px 0;
}

/* Footer links container */
.links {
    align-items: center;
    display: flex;
}

/* Footer links */
.links a {
    color: #ffffff; /* TODO color */
    font-family: "Montserrat", sans-serif; /* TODO typography */
    font-size: 16px; /* TODO typography */
    font-weight: 500; /* TODO typography */
    margin: 0 16px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: capitalize;
}

/**
 * Medium +
 */
@media screen and (min-width: 768px) {

    /* Footer */
    .footer {
        height: 96px;
    }

    /* Wrapper */
    .wrapper {
        flex-direction: row;
        height: inherit;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 16px;
    }

    /* Logo */
    .logo {
        align-items: center;
        display: flex;
    }

    /* Left arrow */
    .logo i {
        left: unset;
        margin: 0 8px 0 -8px;
        position: relative;
        top: unset;
        transform: none;
    }

    /* Logo image */
    .logo img {
        cursor: pointer;
        margin-bottom: 0;
        padding: 0;
    }

    .links {
        margin: 0 -16px; /* Right aligns links */
    }
}

/**
 * Large +
 */
@media screen and (min-width: 1200px) {

    /* Wrapper */
    .wrapper {
        margin: 0 auto;
        max-width: 1200px; /* Snap to 1200px, gutter 30px */
        padding: 0 30px;
    }
}
