/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal announcement catalog component.
 */

/* Catalog */
.catalog {
  text-align: center;
}

/* Catalog - preview - separator. */
.catalog > span:last-of-type > span {
  color: var(--gray-medium);
  padding: 0 8px;
}
