/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to HCA Data Portal search input clear component.
 */

/* Clear button wrapper. */
.searchClear {
  display: inline-flex;
  padding: 9px; /* Total icon size 38px. */
  position: absolute;
  right: 0;
  top: 0;
}
