/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal tooltip component.
 */

/* Tooltip */
.tooltip {
  background-color: var(--black);
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem; /* 12px */
  line-height: 18px; /* 1.125rem */
  max-width: 200px;
  opacity: 0;
  padding: 4px 8px;
  position: fixed;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  visibility: hidden;
  z-index: 20;
}

/* Tooltip - show */
.tooltip.show {
  opacity: 1;
  visibility: visible;
}

/* Tooltip target */
[id="tooltip"] {
  cursor: pointer;
  line-height: inherit;
}

/* Tooltip target - multiline */
/* Prop "multiline" required to access this style */
span.multiline {
  display: inline-block; /* Prevent tooltip from hiding when hovering between lines on multiline values. Display value set in data-table.module.css */
}
