/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal root component.
 */

.site {
    background-color: #ffffff;
}

.content {
    margin: 0 auto;
    max-width: 944px; /* Page snapper */
    padding: 0 24px 24px;
    width: 100%;
}
