/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata schema component.
 */

/* Schema - highlight. */
.reveal {
  animation: highlighter 10s ease-in 1;
}

/* Animation - highlighter. */
@-webkit-keyframes highlighter {
  0% {
    background-color: var(--highlight);
  }
  75% {
    background-color: var(--highlight);
  }
  100% {
    background-color: transparent;
  }
}

/* Animation - highlighter. */
@keyframes highlighter {
  0% {
    background-color: var(--highlight);
  }
  75% {
    background-color: var(--highlight);
  }
  100% {
    background-color: transparent;
  }
}

/* Schema source. */
.source {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  white-space: pre;
}

/* Schema source - removal of margin from fontStyles. */
.source > * {
  margin: 4px 0;
}

/* Schema source - external link to schema. */
.source > a {
  padding-right: 16px;
}

/* Schema description */
.description {
  margin: 4px 0;
}
