/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for data-portal area on home page.
 */
// Dependencies
@import "hca-vars";
//@import "@material/typography/mdc-typography";

.data-portal {
    align-items: center;
    background-color: #F5F7F9;
    display: flex;
    flex-direction: column;
    padding: 80px 0 95px;

    /* What is the DP header */
    > p {
        color: $md-black-100;
        font-size: 1rem;
        letter-spacing: 2px;
        line-height: 1rem;
        text-transform: uppercase;
    }

    /* DP description */
    h1 {
        margin-top: 16px;
        max-width: 80%; /* Forces L and R spacing around paragraph */
        text-align: center;
    }

    /* DP Imagery and associated text */
    .portal-description {
        align-items: flex-start;
        display: flex;
        justify-content: center;
        margin-top: 70px;

        /* Each DP has its own box */
        > div {
            align-items: center;
            display: flex;
            flex: 1; /* Each box is equal in width */
            flex-direction: column;

            &.dp-arrow {
                flex: 0; /* Overrides flex: 1 attribute from its own box */
                height: 95px; /* Forces arrow container to be same height as DP images */
                justify-content: center;
            }

            /* Top row of each box - image */
            > div {
                align-items: center;
                display: flex;
                height: 95px;
            }

            /* Second row of each box - text description */
            p {
                max-width: 170px;
                text-align: center;

                /* Link */
                a {
                    display: block;
                }
            }
        }
    }
}
