/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for jumbotron area on home page.
 */

// Dependencies
//@import "@material/typography/mdc-typography";

.jumbotron {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* For jumbotron image */
    padding: 73px 0 68px;
    position: relative;

    /* Jumbotron image - cropped image for small screens */
    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

        &.large-img {
            display: none;
        }
    }

    /* Jumbotron title */
    h1 {
        max-width: 80%;
        text-align: center;
    }

    /* Search bar */
    .jumbotron-search {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 50px auto 0;
        border: 1px solid #cccccc;
        border-radius: 3px;
        height: 50px;
        width: 80%;

        /* Search text */
        span {
            color: #9B9B9B;
            font-size: 1rem;
            line-height: 1rem;
            overflow: hidden;
            padding: 0 16px;
            white-space: nowrap;

            /* Hide longer search text */
            &.long-search-text {
                display: none;
            }
        }

        /* Search button */
        .button {
            align-items: center;
            background-color: #f5a623;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            font-size: 1rem;
            height: calc(100% + 2px); /* 2px to hide search box border of 1px top and bottom */
            letter-spacing: 0.74px;
            margin-right: -1px; /* Moves button over RHS of search bar border */
            padding: 0 16px;
        }
    }
}

/**
 * Small +
 */
@media (min-width: $md-sm-min) {

    .jumbotron {

        img {

            /* Hide smaller cropped image */
            &.small-img {
                display: none;
            }

            /* Show full image */
            &.large-img {
                display: block;
            }
        }
    }

}

/**
 * Large
 */
@media (min-width: $md-tablet-portrait-lg-min) {

    .jumbotron {

        /* Jumbotron image */
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: -1;
        }

        /* Search bar */
        .jumbotron-search {
            width: 50%;

            span {

                /* Hide short search text */
                &.short-search-text {
                    display: none;
                }

                /* Show longer search text */
                &.long-search-text {
                    display: block;
                }
            }
        }
    }
}
