/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Global styles.
 */

/**
 * Anchors
 */
@import "hca-vars";

a {
    color: $hca-primary;
    text-decoration: none;
}

.mdc-layout-grid {
    padding: 0px;
}
