/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for blue bar area on home page.
 */
// Dependencies
@import "hca-vars";

.stats-bar {
    background: linear-gradient(0deg, #5ABCEF, #3867FA);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;

    /* Status */
    > div {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px 0;

        /* Status name */
        p {
            color: #ffffff;
            flex: 50%; /* Takes up 50% of container */
            font-size: 0.8125rem;
            font-weight: 600;
            letter-spacing: 3.25px;
            line-height: 0.9375rem;
            margin: 0 0 -4px;
            text-align: right;
        }

        /* Status number */
        span {
            color: #ffffff;
            flex: 50%; /* Takes up 50% of container */
            font-size: 2.25rem;
            font-weight: 500;
            padding: 0 24px;
            text-align: left;
        }
    }
}

/**
 * Large
 */
@media (min-width: $md-tablet-portrait-lg-min) {

    .stats-bar {
        background: linear-gradient(90deg, #3867FA, #5ABCEF);
        flex-direction: row;
        height: 74px;
        padding: 0 0;

        /* Status */
        > div {
            align-items: center;
            flex-direction: column;
            padding: 0 0;

            /* Status name */
            p {
                flex: 0;
                text-align: center;
            }

            /* Status number */
            span {
                flex: 0;
                text-align: center;
                width: 100px;
            }
        }
    }
}

