/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Global variables.
 */

/**
 * Material Design black hues.
 **/
$md-black-12: rgba(0, 0, 0, 0.12);
$md-black-38: rgba(0, 0, 0, 0.38);
$md-black-57: rgba(0, 0, 0, 0.57);
$md-black-100: #000000;

/**
 * Material Design media break points
 **/
$md-xl-min: 1920px;
$md-lg-min: 1280px;
$md-lg-max: $md-xl-min - 1px;
$md-md-min: 960px;
$md-md-max: $md-lg-min - 1px;
$md-tablet-portrait-lg-min: 840px;
$md-tablet-portrait-md-max: $md-tablet-portrait-lg-min - 1px;
$md-tablet-landscape-sm-min: 480px;
$md-tablet-landscape-xs-max: $md-tablet-landscape-sm-min - 1px;
$md-sm-min: 600px;
$md-sm-max: $md-md-min - 1;
$md-xs-max: $md-sm-min - 1;

/**
 * HCA colors.
 */
$hca-black: #000000;
$hca-blue-light: #00D0F4;
$hca-blue-lightest: #F4F7F9;
$hca-color-text: #4a4a4a;
$hca-color-top-app-bar-text: #666666;
$hca-color-user-icon: #bfd0fa;
$hca-gray-darkest: #333333;
$hca-gray-dark: #666666;
$hca-gray-medium: #999999;
$hca-gray-light: #CCCCCC;
$hca-gray-lightest: #EAEAEA;
$hca-off-white: #F8F8F8;
$hca-primary: #1c7cc7;
$hca-white: #FFFFFF;


