/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for contact area on home page.
 */
// Dependencies
@import "hca-vars";

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 45px 0 54px;

    h2 {
        color: $hca-color-text;
        max-width: 80%;
        text-align: center;
    }

    /* Contact form */
    .contact-form {
        align-items: center;
        align-self: stretch; /* To take up full available width */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        /* Input fields */
        > div {
            border: 1px solid #cccccc;
            border-radius: 3px;
            height: 50px;
            margin: 4px 0;
            width: 80%;
        }

        /* Input text */
        span {
            color: #9B9B9B;
            font-size: 1rem;
            line-height: 46px; /* Centers input text */
            padding-left: 16px;
        }

        /* Submit button */
        .button {
            align-items: center;
            background-color: #32C1EE;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            font-size: 1rem;
            height: 52px; /* Required to match height of input boxes - includes top and bottom border */
            justify-content: center;
            letter-spacing: 0.74px;
            margin: 4px 0;
            padding: 0 16px;
            width: calc(80% - 32px); /* Mimics width of input fields */
        }
    }
}

/**
 * Large
 */
@media (min-width: $md-tablet-portrait-lg-min) {

    .contact {

        /* Contact form */
        .contact-form {
            flex-direction: row;
            margin: 6px 0;

            /* Input fields */
            > div {
                margin: 0 4px;
                width: 30%;
            }

            /* Submit button */
            .button {
                margin: 0 4px;
                min-width: 118px; /* Total min width 150px including padding */
                width: 0;
            }
        }
    }
}
