/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for jumbotron area on home page.
 */

// Dependencies
//@import "@material/typography/mdc-typography";

.jumbotron {
    align-items: center;
    display: flex;
    flex-direction: column;
    //background-color: #cccccc;
    padding: 73px 0 68px;
    //background: url('../../site/images/jumbotron/jumbotron-cell.png');
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-size: 100% 100%;
    //width: 100%;
    //height: 300px;
    //align-items: center;
    //display: flex;
    //flex-direction: column;
    //position: relative;
    //margin-bottom: 72px;
    //margin-top: 35px; // 15px inside toolbar + 35px above text = 50px as per spec
    //text-align: center;

    /* Jumbotron title */
    h1 {
        max-width: 80%;
        text-align: center;
    }

    /* Search bar */
    .jumbotron-search {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 50px auto 0;
        border: 1px solid #cccccc;
        border-radius: 3px;
        height: 50px;
        width: 80%;

        /* Search text */
        span {
            color: #9B9B9B;
            font-size: 1rem;
            overflow: hidden;
            padding: 0 16px;
            white-space: nowrap;
        }

        /* Search button */
        .button {
            align-items: center;
            background-color: #f5a623;
            border-radius: 3px;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            font-size: 1rem;
            height: calc(100% + 2px); /* 2px to hide search box border of 1px top and bottom */
            letter-spacing: 0.74px;
            margin-right: -1px; /* Moves button over RHS of search bar border */
            padding: 0 16px;
        }
    }
}

/**
 * Large
 */
@media (min-width: $md-tablet-portrait-lg-min) {

    .jumbotron {

        /* Search bar */
        .jumbotron-search {
            width: 50%;
        }
    }
}
