/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for download instructions area on home page.
 */

@mixin code-base {
    background-color: #f8f8f8;
    border-radius: 3px;
    color: $md-black-100;
    font-family: monospace;
    font-size: 1.125rem;
}

.download-instructions {
    .code {
        @include code-base;
        margin-bottom: 24px;
        padding: 16px 50px;
        position: relative;
        &:before {
            color: #999999;
            content: '$';
            left: 24px;
            position: absolute;
        }
    }
    .code-inline {
        @include code-base;
        padding: 4px 10px;
    }
    .dataset-breakdowns {
        display: flex;
        flex-direction: column;
        margin: 30px 0 20px 0;
        > div {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 10px;
            padding-top: 10px;
            /* Header row */
            &:first-child {
                font-weight: 500;
            }
            /* Data rows */
            > div {
                font-size: 0.875rem;
                line-height: 1.188rem;
            }
        }
    }
    .help {
        margin-top: 30px;
    }
}

/**
 * Medium -
 */
@media (max-width: $md-sm-max) {
    
    .dataset-breakdowns {
        > div {
            /* Header row, shell script cell */
            &:first-child {
                :last-child {
                    display: none;
                }
            }
        }
    }
}

/**
 * Medium +
 */
@media (min-width: $md-md-min) {

    .download-instructions {
        .dataset-breakdowns {
            > div {
                display: flex;
                flex-direction: row;
                /* Header row */
                &:first-child {
                    display: flex;
                    font-weight: 500;
                }
                /* Data rows */
                > div {
                    font-size: 0.875rem;
                    line-height: 1.188rem;
                    &:first-child {
                        flex: 1;
                    }
                    &:last-child {
                        width: 320px;
                    }
                }
            }
        }
    }
}

