/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Typography-related style definitions.
 */

@import "hca-vars";

body {
    color: $hca-color-text;
    //font-family: "Gotham HTF", sans-serif;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin heading-base {
    color: #000000;
    //font-family: "DIN", sans-serif;
    font-family: din-2014, sans-serif;
    font-weight: 600;
}

h1 {
    @include heading-base;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 0 0 16px 0;
}

h2 {
    @include heading-base;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0 0 12px 0;
}

h3 {
    @include heading-base;
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin: 0 0 8px 0;
}

h4 {
    @include heading-base;
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 30px 0 10px 0 ;
}

p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 10px 0;
}
