/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for footer.
 */
// Dependencies
@import "hca-vars";

.footer {
    align-items: center;
    background-color: $md-black-100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 0;

    /* Logo */
    > div {

        img {
            padding: 12px 0;
        }
    }
}

/* Footer links */
.footer-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    a {
        color: #ffffff;
        font-size: 1rem;
        text-decoration: none;
        padding: 4px 0;
    }
}

/**
 * Large
 */
@media (min-width: $md-tablet-portrait-lg-min) {

    .footer {
        height: 96px;
        flex-direction: row;
        position: relative;

        /* Logo */
        > div {
            left: 24px;
            position: absolute;

            img {
                padding: 12px 0;
            }
        }

        /* Footer links */
        .footer-links {
            flex-direction: row;
            padding: 0;
            position: relative;

            a {
                margin: 0 16px;
                padding: 0;
            }
        }
    }
}

