/*!
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Styles for blue bar area on home page.
 */
// Dependencies
@import "hca-vars";

.stats-bar {
    align-items: flex-end;
    background: linear-gradient(-270deg, #3867FA, #5ABCEF);
    display: flex;
    height: 74px;
    justify-content: center;
    padding-bottom: 16px;

    span {
        color: #ffffff;
        font-size: 36px;
        font-weight: 500;
        padding: 0 24px;
        text-align: center;
        width: 100px;

    }
}
