/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal banner component.
 */

/* Banner */
.banner {
	position: sticky;
	bottom: 0;
	z-index: 12; /* Positioned below header component */
}

/* Banner positioned top */
.banner.top {
	bottom: unset;
	top: 60px;
}
