/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal privacy component.
 */

/* Privacy */
.privacy {
  background-color: var(--white-off);
  padding: 14px 0;
}

/**
 * Small Tablet -
 */
@media screen and (max-width: 960px) {
  /* Button - privacy component - class narrow */
  .privacy .narrow {
    height: unset !important;
    margin: 8px 0 0 !important;
    padding: 2px 12px !important;
  }
}
