/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal system status component.
 */
@import '../../styles/vars.module.css';

/* System status */
.systemStatus {
	background-color: var(--black);
	padding: 14px 0;
}

.systemStatusWrapper {
	align-items: flex-start;
	flex-direction: row;
	justify-content: flex-start;
}

/* Warn icon - hide */
.systemStatus i {
	display: none;
}

/* Link */
.systemStatus a {
	color: inherit;
	text-decoration: underline;
}

/**
 * Small Tablet -
 */
@media screen and (min-width: 960px) {

	/* Banner Text */
	.systemStatusWrapper > div {
	margin-left: 16px;
	}

	/* Warn icon - show */
	.systemStatus i {
		display: block;
	}
}
