/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal system status component.
 */
@import '../../styles/vars.module.css';

/* Environment */
.systemStatus {
	background-color: var(--black);
	padding: 14px 0;
}

.systemStatus a {
	color: inherit;
	text-decoration: underline;
}

/**
 * Small Tablet -
 */
@media screen and (max-width: 960px) {

	/* Button - environment component - class narrow */
	.systemStatus .narrow {
		height: unset !important;
		margin: 8px 0 0 !important;
		padding: 2px 12px !important;
	}
}
