/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to displaying Zendesk support request errors.
 */

@import "../../styles/vars.module.css";

.supportRequestError {
    background-color: rgba(232, 170, 69, 0.06); /* --accent */
    border-radius: 2px;
    border: 1px solid var(--accent);
    color: var(--accent-hover);
    font-size: 14px;
    font-weight: 400;
    padding: 5px 8px;
}

/* Error is specific to form input */
.supportRequestError.field {
    margin: 0 0 8px;
}

/* Error occurred on submit of form - display at top of form */
.supportRequestError.submit {
    margin: 16px 0;
}
