/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal metadata search component.
 */
@import '../../../styles/vars.module.css';

/* Search. */
.search {
  display: inline-block;
  margin: 0 0 24px 0;
  padding: 0 var(--gutter-x);
  position: relative; /* Positions results panel. */
  z-index: 11; /* Above tabs (12), below header (20), below banner (12). */
}
