/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal attributions component.
 */

/* Attributions */
.attributions {
  align-items: flex-start;
  display: flex;
}

/* Icon */
.attributions .mosaic {
  height: 40px;
  margin: 4px 0;
  padding-right: 8px;
}
