/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA Data Portal attributions component.
 */

/* Attributions */
.attributions {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-bottom: 18px;
}

/* Icon */
.attributions .mosaic {
  height: 40px;
  margin: 0;
}
